.docs/operations/n8n.workflow.v2.backup.20260303.json
{"updatedAt":"2026-02-25T09:45:34.335Z","createdAt":"2026-01-08T23:35:29.403Z","id":"UPceXr0EYkOlRsjz","name":"HumTech Scorecard v.2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"97e0ddcc-00b0-4f9e-a45c-2c484e9754bc","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"528d4517-8001-4350-96b5-4d426bd1f3bc","name":"Webhook","webhookId":"97e0ddcc-00b0-4f9e-a45c-2c484e9754bc"},{"parameters":{"assignments":{"assignments":[{"id":"96485bad-d94c-4e4c-bf65-b76a822df0ff","name":"assessment_id","value":"humtech_v2","type":"string"},{"id":"9c80f6ec-8ad6-4003-803e-6d1ac26abe5a","name":"submission_id","value":"={{ $json.body.submission_id }}","type":"string"},{"id":"2171c818-5b60-44c1-a626-5ed8f7b70575","name":"submitted_at","value":"={{ $json.body.timestamp }}","type":"string"},{"id":"e6150052-f9f4-43ae-b356-f04c0e34f525","name":"email","value":"={{ $json.body.contact.email }}","type":"string"},{"id":"7a46304b-aaba-495d-b3c5-675a7b58a5ff","name":"answers","value":"={{$json.body.answers}}","type":"array"},{"id":"e3ba368d-0517-4dbb-ae7b-c9a62a45c29a","name":"rawAnswers","value":"={{ $json.body.rawAnswers }}","type":"object"},{"id":"32cda425-4d6a-4a19-bb0a-34d0ae3eae62","name":"source","value":"humtech-scorecard","type":"string"},{"id":"30a54ea9-62e3-4e88-a1e2-54f719222415","name":"company","value":"={{ $json.body.contact.company }}","type":"string"},{"id":"106cdc95-3527-4078-a5d4-afb17e7d2a9c","name":"mobile","value":"={{ $json.body.contact.mobile }}","type":"string"},{"id":"5e823e9a-094d-472b-b8c5-6a4e1a2fbae2","name":"job_title","value":"={{ $json.body.contact.title }}","type":"string"},{"id":"05c81031-8936-4fcc-acbd-f0281378fbc3","name":"name","value":"={{ $json.body.contact.name }}","type":"string"},{"id":"f7c875a2-2d5a-47d2-b68c-622234f79872","name":"revenue_5-500m","value":"={{ $json.body.contact.revenueRange5to500m }}","type":"string"},{"id":"ffcf6d6a-b090-42e1-8e4b-1a20ed2dd0e9","name":"submitted_at_uk","value":"={{ new Date($json.body.timestamp).toLocaleString('en-GB', { dateStyle: 'medium', timeStyle: 'short', timeZone: 'Europe/London' }) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,128],"id":"1ad86c8a-6270-4b23-a468-c532f8da2331","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer re_GZUNd33M_LpM8rXnSMsd9USzrREMMG4Zg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"=application/json","body":"={{ $json.resend_raw }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2448,432],"id":"355556b0-1abe-4fe2-b717-4df0e33ea0a5","name":"HTTP Request1"},{"parameters":{"operation":"binaryToPropery","destinationKey":"pdf_base64","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[2080,432],"id":"e34078ab-5ee8-47ee-8ceb-5dbaf0a73bb1","name":"Extract from File"},{"parameters":{"jsCode":"const r = $json.scoring?.radar || {};\n\n// 5-axis radar (split labels onto 2 lines using \\n)\nconst labels = [\n  \"Lead Engagement &\\nEfficacy\",\n  \"Appointment Reliability &\\nConversion\",\n  \"Operational Focus &\\nTime Efficiency\",\n  \"Systems &\\nAutomation Maturity\",\n  \"Revenue Protection &\\nLeakage Control\"\n];\n\n// Values are 0–10 from your scoring node\nconst rawValues = [\n  r.leadEngagementSpeed ?? 0,\n  r.appointmentReliabilityConversion ?? 0,\n  r.operationalFocusTimeEfficiency ?? 0,\n  r.systemsAutomationMaturity ?? 0,\n  r.revenueProtectionLeakageControl ?? 0\n];\n\n// keep 1dp\nconst yourScores = rawValues.map(v => Math.round(v * 10) / 10);\n\nconst chartConfig = {\n  type: \"radar\",\n  data: {\n    labels,\n    datasets: [\n      {\n        label: \"Your operating state\",\n        data: yourScores,\n        fill: true,\n\n        // your brand styling (dataset area)\n        backgroundColor: \"rgba(61,178,221,0.28)\",\n        borderColor: \"#193050\",\n        pointBackgroundColor: \"#193050\",\n        pointBorderColor: \"#193050\",\n\n        pointRadius: 3,\n        borderWidth: 2.5\n      }\n    ]\n  },\n  options: {\n    legend: { display: false },\n\n    scale: {\n      ticks: {\n        min: 0,\n        max: 10,\n        stepSize: 2,\n\n        // ✅ make 2–10 bigger + darker\n        fontSize: 24,\n        fontStyle: \"bold\",\n        fontColor: \"#193050\",\n\n        backdropColor: \"rgba(0,0,0,0)\"\n      },\n\n      // ✅ make axis labels BIG + readable\n      pointLabels: {\n        fontSize: 28,\n        fontStyle: \"bold\",\n        fontColor: \"#193050\"\n      },\n\n      // ✅ darker/thicker spider web\n      gridLines: {\n        color: \"rgba(25,48,80,0.38)\",\n        lineWidth: 1.6\n      },\n      angleLines: {\n        color: \"rgba(25,48,80,0.38)\",\n        lineWidth: 1.6\n      }\n    }\n  }\n};\n\n// bigger image for PDF clarity\nconst radarUrl =\n  \"https://quickchart.io/chart?width=1700&height=1250&devicePixelRatio=2&format=png&backgroundColor=white&c=\" +\n  encodeURIComponent(JSON.stringify(chartConfig));\n\nreturn [{ json: { ...$json, radarUrl } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,336],"id":"b574cffa-e5b2-4359-8cfc-bf83ebaf58cf","name":"Radar chart URL"},{"parameters":{"jsCode":"const input = $input.first().json;\n\nconst company   = input.company_name || input.company || \"Your Company\";\nconst email     = input.email || \"—\";\nconst submitted = input.submitted_at || input.submitted || new Date().toISOString();\nconst radarUrl  = input.radarUrl || input.radar_url || \"\";\n\nconst overallScore =\n  input.scoring?.overall?.score10 ?? input.overall_score ?? input.overallScore ?? \"—\";\nconst overallBand  =\n  input.banding?.overallBand?.bandLabel ?? input.scoring?.overall?.maturityBand ??\n  input.overall_band_label ?? input.overallBandLabel ?? \"—\";\n\nconst wf     = input.revenueWaterfall || {};\nconst money  = (n) => typeof n === \"number\" ? `£${Math.round(n).toLocaleString()}` : \"N/A\";\nconst pct    = (n) => typeof n === \"number\" ? `${n}%` : \"N/A\";\nconst stg    = (s) => s ? s.charAt(0).toUpperCase() + s.slice(1) : \"N/A\";\n\nconst PILLAR_ORDER = [\n  \"leadEngagementSpeed\",\n  \"appointmentReliabilityConversion\",\n  \"operationalFocusTimeEfficiency\",\n  \"systemsAutomationMaturity\",\n  \"revenueProtectionLeakageControl\"\n];\nconst PILLAR_LABELS = {\n  leadEngagementSpeed:              \"Lead Engagement & Efficacy\",\n  appointmentReliabilityConversion: \"Appointment Reliability & Conversion\",\n  operationalFocusTimeEfficiency:   \"Operational Focus & Time Efficiency\",\n  systemsAutomationMaturity:        \"Systems & Automation Maturity\",\n  revenueProtectionLeakageControl:  \"Revenue Protection & Leakage Control\"\n};\n\nconst pillarScores   = input.scoring?.pillars || input.scoring?.radar || {};\nconst pillarInsights = input.pillarInsights || {};\n\n// CHANGED: \"adequate\" → \"average\" to match banding node output\nconst TL = {\n  \"critical\":         \"#C0392B\",\n  \"action required\":  \"#C0392B\",\n  \"average\":          \"#D48C22\",\n  \"optimised\":        \"#1E7D4B\",\n};\nconst tl = (b) => TL[String(b||\"\").toLowerCase().trim()] ?? \"#D48C22\";\n\nconst overallColor   = tl(overallBand);\nconst overallDisplay = typeof overallScore === \"number\" ? overallScore.toFixed(1) : overallScore;\n\n// Pillar stat cards\nconst pillarRowsHtml = PILLAR_ORDER.map(k => {\n  const score   = pillarInsights[k]?.score    ?? pillarScores[k] ?? 0;\n  const band    = pillarInsights[k]?.bandLabel ?? \"—\";\n  const meaning = pillarInsights[k]?.bandMeaning ?? \"\";\n  const label   = pillarInsights[k]?.pillarLabel ?? PILLAR_LABELS[k] ?? k;\n  const desc    = String(meaning || \"\").replace(/\\s+/g, \" \").trim();\n  const c       = tl(band);\n  return `\n    <div class=\"pillar-stat\">\n      <div class=\"ps-score\" style=\"color:${c};\">${Number(score).toFixed(1)}<span class=\"ps-den\">/10</span></div>\n      <div class=\"ps-band\"><span class=\"ps-dot\" style=\"background:${c};\"></span>${band}</div>\n      <div class=\"ps-name\">${label}</div>\n      ${desc ? `<div class=\"ps-desc\">${desc}</div>` : \"\"}\n    </div>`;\n}).join(\"\");\n\n// Waterfall rows\nconst pipeline = wf.pipeline || 0;\nconst engLoss  = wf.engagementLoss  || 0;\nconst attLoss  = wf.attendanceLoss  || 0;\nconst convLoss = wf.conversionLoss  || 0;\nconst closed   = wf.closedValue     || 0;\nconst totalLoss = wf.totalLoss || (engLoss + attLoss + convLoss);\nconst maxVal   = Math.max(pipeline, 1);\nconst bar      = (v) => Math.min(100, Math.max(2, (v / maxVal) * 100));\n\nconst wfRowsHtml = [\n  { label:\"Estimated pipeline\",      desc:\"\",                                  val:money(pipeline), amount:money(pipeline),    type:\"source\",  barW:100 },\n  { label:\"Lost at engagement\",      desc:\"Slow response, no automated follow-up\", val:`−${money(engLoss)}`,  amount:`−${money(engLoss)}`,  type:\"loss\",   barW:bar(engLoss)  },\n  { label:\"Lost at attendance\",      desc:\"No-shows and late reschedules\",     val:`−${money(attLoss)}`,  amount:`−${money(attLoss)}`,  type:\"loss\",   barW:bar(attLoss)  },\n  { label:\"Lost at conversion\",      desc:\"Insufficient close process\",        val:`−${money(convLoss)}`, amount:`−${money(convLoss)}`, type:\"loss\",   barW:bar(convLoss) },\n  { label:\"Estimated closed revenue\",desc:\"\",                                  val:money(closed),   amount:money(closed),      type:\"closed\", barW:bar(closed)   },\n].map(r => {\n  const ic = r.type === \"source\" ? {bg:\"rgba(25,48,80,0.10)\",c:\"var(--navy)\",sym:\"→\"}\n           : r.type === \"loss\"   ? {bg:\"rgba(192,57,43,0.10)\", c:\"#C0392B\",sym:\"↘\"}\n           :                       {bg:\"rgba(25,48,80,0.10)\",  c:\"var(--navy)\",sym:\"→\"};\n  const barColor = r.type === \"loss\" ? \"#C0392B\" : \"rgba(25,48,80,0.25)\";\n  const amtColor = r.type === \"loss\" ? \"#C0392B\" : \"var(--navy)\";\n  return `\n    <div class=\"wf-row\">\n      <div class=\"wf-icon-col\">\n        <div class=\"wf-circle\" style=\"background:${ic.bg};color:${ic.c};\">${ic.sym}</div>\n      </div>\n      <div>\n        <div class=\"wf-label\">${r.label}</div>\n        ${r.desc ? `<div class=\"wf-desc\">${r.desc}</div>` : \"\"}\n      </div>\n      <div class=\"wf-bar-col\">\n        <div class=\"wf-bar-track\"><div class=\"wf-bar-fill\" style=\"width:${r.barW}%;background:${barColor};\"></div></div>\n      </div>\n      <div class=\"wf-amount\" style=\"color:${amtColor};\">${r.amount}</div>\n    </div>`;\n}).join(\"\");\n\n// CHANGED: Qual cards — removed special 5th-item grid span handling\nconst qualCardsHtml = PILLAR_ORDER.map((k) => {\n  const label = pillarInsights[k]?.pillarLabel ?? PILLAR_LABELS[k] ?? k;\n  const band  = pillarInsights[k]?.bandLabel ?? \"—\";\n  const score = pillarInsights[k]?.score ?? pillarScores[k] ?? 0;\n  const title = pillarInsights[k]?.title ?? \"—\";\n  const body  = pillarInsights[k]?.body  ?? \"—\";\n  const c     = tl(band);\n  return `\n    <div class=\"qual-item\">\n      <div class=\"qual-head-row\">\n        <div>\n          <div class=\"qual-pillar-label\">${label}</div>\n          <div class=\"qual-title\">${title}</div>\n        </div>\n        <div class=\"qual-score-pill\">\n          <div class=\"qual-score-num\" style=\"color:${c};\">${Number(score).toFixed(1)}<span class=\"qual-score-den\">/10</span></div>\n          <div class=\"qual-band-pill\"><span class=\"q-dot\" style=\"background:${c};\"></span>${band}</div>\n        </div>\n      </div>\n      <div class=\"qual-body\">${body}</div>\n    </div>`;\n}).join(\"\");\n\nconst html = `<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"/>\n  <title>HumTech — ${company}</title>\n  <style>\n    :root {\n      --navy:  #193050;\n      --bg:    #DFE2E8;\n      --card:  #ffffff;\n      --muted: rgba(25,48,80,0.65);\n      --faint: rgba(25,48,80,0.10);\n      --shadow: 0 2px 16px rgba(15,23,42,0.07);\n      --tl-red:   #C0392B;\n      --tl-amber: #D48C22;\n      --tl-green: #1E7D4B;\n    }\n    * { box-sizing:border-box; margin:0; padding:0; }\n    body { font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,sans-serif; background:var(--bg); color:var(--navy); font-size:13px; line-height:1.5; -webkit-print-color-adjust:exact; print-color-adjust:exact; }\n    .page { max-width:880px; margin:0 auto; padding:24px 20px 40px; display:flex; flex-direction:column; gap:12px; }\n\n    /* HEADER */\n    .header { background:var(--navy); border-radius:18px; padding:26px 32px 26px; position:relative; overflow:hidden; display:flex; justify-content:space-between; align-items:flex-start; gap:24px; }\n    .header::before { content:\"\"; position:absolute; right:-50px; top:-50px; width:260px; height:260px; background:radial-gradient(circle,rgba(61,178,221,0.20) 0%,transparent 68%); border-radius:50%; pointer-events:none; }\n    .header::after  { content:\"\"; position:absolute; left:-30px; bottom:-40px; width:180px; height:180px; background:radial-gradient(circle,rgba(216,183,67,0.14) 0%,transparent 70%); border-radius:50%; pointer-events:none; }\n    .header-left { position:relative; z-index:2; max-width:460px; }\n    .header-brand { font-size:9.5px; font-weight:700; letter-spacing:0.22em; text-transform:uppercase; color:#3DB2DD; margin-bottom:6px; }\n    .header-title { font-size:20px; font-weight:800; color:#fff; line-height:1.15; letter-spacing:-0.2px; }\n    .header-sub { margin-top:6px; font-size:11.5px; color:rgba(255,255,255,0.50); }\n    .header-accent { margin-top:16px; height:3px; width:160px; border-radius:99px; background:linear-gradient(90deg,#D8B743,#3DB2DD,#6BB790); }\n    .header-right { position:relative; z-index:2; flex-shrink:0; text-align:right; display:flex; flex-direction:column; align-items:flex-end; gap:3px; }\n    .header-company { font-size:14px; font-weight:700; color:#fff; }\n    .header-meta { font-size:11px; color:rgba(255,255,255,0.50); }\n    .score-block { margin-top:14px; display:flex; align-items:baseline; gap:6px; justify-content:flex-end; }\n    .score-num { font-size:48px; font-weight:900; line-height:1; letter-spacing:-2px; }\n    .score-den { font-size:14px; color:rgba(255,255,255,0.40); }\n    .score-band { margin-top:6px; display:inline-flex; align-items:center; gap:6px; background:rgba(255,255,255,0.10); border:1px solid rgba(255,255,255,0.16); border-radius:6px; padding:4px 10px; font-size:11px; font-weight:700; color:rgba(255,255,255,0.88); letter-spacing:0.03em; }\n    .band-pip { width:7px; height:7px; border-radius:50%; }\n\n    /* CARD */\n    .card { background:var(--card); border-radius:16px; border:1px solid rgba(25,48,80,0.08); box-shadow:var(--shadow); overflow:hidden; }\n    .card-head { padding:16px 22px 14px; border-bottom:1px solid var(--faint); display:flex; align-items:baseline; gap:10px; }\n    .card-title { font-size:11px; font-weight:800; letter-spacing:0.14em; text-transform:uppercase; color:rgba(25,48,80,0.45); }\n    .card-sub { font-size:12px; color:rgba(25,48,80,0.50); font-weight:400; }\n\n    /* RADAR */\n    .radar-full { padding:20px 22px 0; display:flex; justify-content:center; }\n    .radar-img { width:100%; max-width:520px; height:auto; display:block; border-radius:8px; }\n\n    /* PILLARS */\n    .pillar-stat-grid { display:grid; grid-template-columns:repeat(5,1fr); border-top:1px solid var(--faint); margin-top:16px; }\n    .pillar-stat { padding:16px 18px; border-right:1px solid var(--faint); display:flex; flex-direction:column; gap:6px; }\n    .pillar-stat:last-child { border-right:none; }\n    .ps-score { font-size:28px; font-weight:900; line-height:1; letter-spacing:-0.5px; }\n    .ps-den { font-size:11px; font-weight:500; color:var(--muted); margin-left:1px; }\n    .ps-band { display:inline-flex; align-items:center; gap:5px; font-size:10px; font-weight:700; color:var(--navy); background:rgba(25,48,80,0.05); border:1px solid var(--faint); border-radius:99px; padding:2px 8px; width:fit-content; }\n    .ps-dot { width:5px; height:5px; border-radius:50%; flex-shrink:0; }\n    .ps-name { font-size:11px; font-weight:600; color:var(--navy); line-height:1.3; margin-top:2px; }\n    .ps-desc { font-size:10.5px; color:var(--muted); line-height:1.45; }\n\n    /* WATERFALL */\n    .wf-row { display:grid; grid-template-columns:26px 1fr 1fr 96px; align-items:center; gap:0 14px; padding:12px 22px; border-top:1px solid var(--faint); }\n    .wf-icon-col { display:flex; align-items:center; justify-content:center; }\n    .wf-circle { width:22px; height:22px; border-radius:50%; display:flex; align-items:center; justify-content:center; font-size:11px; font-weight:700; flex-shrink:0; }\n    .wf-label { font-size:12.5px; font-weight:600; color:var(--navy); }\n    .wf-desc  { font-size:11px; color:var(--muted); margin-top:2px; }\n    .wf-bar-col { display:flex; align-items:center; }\n    .wf-bar-track { flex:1; height:8px; background:rgba(25,48,80,0.07); border-radius:99px; overflow:hidden; }\n    .wf-bar-fill { height:100%; border-radius:99px; }\n    .wf-amount { font-size:14px; font-weight:800; text-align:right; white-space:nowrap; }\n    .wf-summary-strip { display:grid; grid-template-columns:repeat(3,1fr); border-top:1px solid var(--faint); }\n    .wf-stat { padding:14px 20px; border-right:1px solid var(--faint); }\n    .wf-stat:last-child { border-right:none; }\n    .wf-stat-lbl { font-size:9.5px; font-weight:700; letter-spacing:0.12em; text-transform:uppercase; color:rgba(25,48,80,0.45); margin-bottom:4px; }\n    .wf-stat-val { font-size:20px; font-weight:900; color:var(--navy); line-height:1; }\n    .wf-stat-val.loss { color:var(--tl-red); }\n\n    /* CHANGED: QUAL GRID — newspaper column layout */\n    .qual-grid { column-count:2; column-gap:0; }\n    .qual-item { padding:18px 22px; border-top:1px solid var(--faint); break-inside:avoid; -webkit-column-break-inside:avoid; }\n    .qual-head-row { display:flex; align-items:flex-start; justify-content:space-between; gap:10px; margin-bottom:8px; }\n    .qual-pillar-label { font-size:9.5px; font-weight:700; letter-spacing:0.13em; text-transform:uppercase; color:var(--muted); margin-bottom:3px; }\n    .qual-title { font-size:13px; font-weight:800; color:var(--navy); line-height:1.3; }\n    .qual-score-pill { display:flex; flex-direction:column; align-items:flex-end; gap:4px; flex-shrink:0; }\n    .qual-score-num { font-size:20px; font-weight:900; line-height:1; }\n    .qual-score-den { font-size:9.5px; color:var(--muted); margin-left:1px; }\n    .qual-band-pill { display:inline-flex; align-items:center; gap:5px; border-radius:99px; padding:2px 8px; font-size:9.5px; font-weight:700; border:1px solid var(--faint); background:rgba(25,48,80,0.03); white-space:nowrap; }\n    .q-dot { width:5px; height:5px; border-radius:50%; }\n    .qual-body { font-size:12px; color:var(--muted); line-height:1.65; }\n\n    .pillar-row, .wf-row, .qual-item { page-break-inside:avoid; break-inside:avoid; }\n    @page { margin:20px; }\n  </style>\n</head>\n<body>\n<div class=\"page\">\n\n  <div class=\"header\">\n    <div class=\"header-left\">\n      <div class=\"header-brand\">HumTech.ai</div>\n      <div class=\"header-title\">AI & Operations Maturity Scorecard</div>\n      <div class=\"header-sub\">A diagnostic snapshot of revenue leakage, operational drag, and AI readiness across your business.</div>\n      <div class=\"header-accent\"></div>\n    </div>\n    <div class=\"header-right\">\n      <div class=\"header-company\">${company}</div>\n      <div class=\"header-meta\">${email}</div>\n      <div class=\"header-meta\">${submitted}</div>\n      <div class=\"score-block\">\n        <span class=\"score-num\" style=\"color:${overallColor};\">${overallDisplay}</span>\n        <span class=\"score-den\">/ 10</span>\n      </div>\n      <div class=\"score-band\">\n        <span class=\"band-pip\" style=\"background:${overallColor};\"></span>\n        ${overallBand}\n      </div>\n    </div>\n  </div>\n\n  <div class=\"card\">\n    <div class=\"card-head\">\n      <span class=\"card-title\">Your Operating Shape</span>\n      <span class=\"card-sub\">Five pillars that drive revenue capture and operational efficiency</span>\n    </div>\n    <div class=\"radar-full\">\n      ${radarUrl\n        ? `<img class=\"radar-img\" src=\"${radarUrl}\" alt=\"Radar chart\" />`\n        : `<div style=\"width:100%;max-width:520px;aspect-ratio:16/9;display:flex;align-items:center;justify-content:center;color:var(--muted);font-size:12px;border:1px dashed var(--faint);border-radius:8px;margin:0 auto;\">Radar chart unavailable</div>`}\n    </div>\n    <div class=\"pillar-stat-grid\">\n      ${pillarRowsHtml}\n    </div>\n  </div>\n\n  <div class=\"card\">\n    <div class=\"card-head\">\n      <span class=\"card-title\">Revenue Waterfall</span>\n      <span class=\"card-sub\">Estimated monthly pipeline flow and leakage</span>\n    </div>\n    ${wfRowsHtml}\n    <div class=\"wf-summary-strip\">\n      <div class=\"wf-stat\">\n        <div class=\"wf-stat-lbl\">Total Monthly Leakage</div>\n        <div class=\"wf-stat-val loss\">${money(totalLoss)}</div>\n      </div>\n      <div class=\"wf-stat\">\n        <div class=\"wf-stat-lbl\">Capture Rate</div>\n        <div class=\"wf-stat-val\">${pct(wf.captureRatePercent)}</div>\n      </div>\n      <div class=\"wf-stat\">\n        <div class=\"wf-stat-lbl\">Biggest Leak Stage</div>\n        <div class=\"wf-stat-val\" style=\"font-size:16px;\">${stg(wf.biggestLeakStage)}</div>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"card\">\n    <div class=\"card-head\">\n      <span class=\"card-title\">What This Means</span>\n      <span class=\"card-sub\">Pillar insights translated into commercial impact</span>\n    </div>\n    <div class=\"qual-grid\">\n      ${qualCardsHtml}\n    </div>\n  </div>\n\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { source: html } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,336],"id":"8d01012c-1abc-4b8c-84a4-7ede97702cca","name":"Build PDF HTML"},{"parameters":{"method":"POST","url":"https://api.pdfshift.io/v3/convert/pdf","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": {{ JSON.stringify($json.source) }},\n  \"landscape\": false,\n  \"use_print\": false\n}\n","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1872,432],"id":"ece0b50a-85a6-4b5b-881d-af4268805955","name":"PDFShift","credentials":{"httpBasicAuth":{"id":"mkD2t64uvkNhhUCe","name":"pdfshift"}}},{"parameters":{"jsCode":"/**\n * HumTech Score Assessment – UPDATED VERSION\n *\n * Inputs:\n *   $json.rawAnswers -> { qid: \"A\" | \"B\" | \"C\" | \"D\" | \"E\" | \"F\" }\n *   $json.freeText   -> { qid: string }  (optional; for Q16 notes)\n *\n * Outputs:\n *   scoring.radar       -> 5 pillars (0–10)\n *   scoring.pillars     -> same values\n *   scoring.overall     -> score10, percent, maturityBand\n *   scoring.informative -> Q13–Q16 (unscored)\n */\n\n// ---------------------------\n// Inputs\n// ---------------------------\nconst raw = $json.rawAnswers || {};\n\n// ---------------------------\n// 1) Question scoring (Q1–Q8, Q11–Q12 only, 0–5)  // CHANGED: was Q1-Q12, removed Q9+Q10\n// ---------------------------\nconst SCORE_0_TO_5 = {\n  // Q1\n  \"q1_engagement_method\": { A: 5, B: 4, C: 2, D: 3, E: 0 },\n\n  // Q2\n  \"q2_response_time\": { A: 5, B: 4, C: 3, D: 2, E: 0 },\n\n  // Q3\n  \"q3_247_booking\": { A: 5, B: 0 },\n\n  // Q4\n  \"q4_show_rate\": { A: 2, B: 3, C: 4, D: 5, E: 0 },\n\n  // Q5\n  \"q5_repetitive_manual_processes\": { A: 5, B: 4, C: 3, D: 2, E: 0 },\n\n  // Q6\n  \"q6_issue_detection\": { A: 2, B: 3, C: 4, D: 5 },\n\n  // Q7\n  \"q7_metric_tracking\": { A: 5, B: 4, C: 3, D: 2 },\n\n  // Q8 (now uses 1-5h / 5h+ ranges instead of 1-4h / 4h+)  // CHANGED: answer set from old Q9\n  \"q8_non_revenue_time\": { A: 5, B: 4, C: 3, D: 2, E: 0 },\n\n  // CHANGED: q9_repetitive_tasks_time REMOVED (merged into Q8)\n  // CHANGED: q10_kpi_tracking_quality REMOVED (duplicated Q7)\n\n  // Q11\n  \"q11_documents_and_signatures\": { A: 5, B: 4, C: 0 },\n\n  // Q12 (3 tiers: Advanced / Some / None)  // CHANGED: removed D (old \"Other\")\n  \"q12_current_situation\": { A: 5, B: 3, C: 1 }\n};\n\n// ---------------------------\n// 2) Final pillars (radar axes)\n// ---------------------------\nconst PILLARS = [\n  \"leadEngagementSpeed\",\n  \"appointmentReliabilityConversion\",\n  \"operationalFocusTimeEfficiency\",\n  \"systemsAutomationMaturity\",\n  \"revenueProtectionLeakageControl\"\n];\n\n// ---------------------------\n// 3) Question → pillar weights (UPDATED – Q9 + Q10 removed)  // CHANGED\n// ---------------------------\nconst QUESTION_WEIGHTS = {\n  \"q1_engagement_method\": {\n    leadEngagementSpeed: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  },\n  \"q2_response_time\": {\n    leadEngagementSpeed: 0.7,\n    revenueProtectionLeakageControl: 0.3\n  },\n  \"q3_247_booking\": {\n    leadEngagementSpeed: 0.4,\n    systemsAutomationMaturity: 0.6\n  },\n  \"q4_show_rate\": {\n    appointmentReliabilityConversion: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  },\n  \"q5_repetitive_manual_processes\": {\n    systemsAutomationMaturity: 1.0\n  },\n  \"q6_issue_detection\": {\n    systemsAutomationMaturity: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  },\n  \"q7_metric_tracking\": {\n    operationalFocusTimeEfficiency: 1.0\n  },\n  \"q8_non_revenue_time\": {\n    operationalFocusTimeEfficiency: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  },\n  // CHANGED: q9_repetitive_tasks_time REMOVED\n  // CHANGED: q10_kpi_tracking_quality REMOVED\n  \"q11_documents_and_signatures\": {\n    systemsAutomationMaturity: 0.7,\n    operationalFocusTimeEfficiency: 0.3\n  },\n  \"q12_current_situation\": {\n    systemsAutomationMaturity: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  }\n};\n\n// ---------------------------\n// Helpers\n// ---------------------------\nfunction scoreQuestion0to5(qid, answerId) {\n  const map = SCORE_0_TO_5[qid];\n  if (!map) return 0;\n  const s = map[answerId];\n  return typeof s === \"number\" ? s : 0;\n}\n\nfunction to0to10(score0to5) {\n  return (score0to5 / 5) * 10;\n}\n\nfunction clamp0to10(v) {\n  return Math.max(0, Math.min(10, v));\n}\n\n// ---------------------------\n// 4) Compute pillar scores\n// ---------------------------\nconst pillarTotals = Object.fromEntries(PILLARS.map(p => [p, 0]));\nconst pillarWeights = Object.fromEntries(PILLARS.map(p => [p, 0]));\n\nconst expectedQids = Object.keys(QUESTION_WEIGHTS);\nconst missingQuestions = [];\n\nfor (const qid of expectedQids) {\n  const ans = raw[qid];\n  if (!ans) missingQuestions.push(qid);\n\n  const s0to5 = scoreQuestion0to5(qid, ans);\n  const s0to10 = to0to10(s0to5);\n\n  const weights = QUESTION_WEIGHTS[qid];\n  for (const [pillar, w] of Object.entries(weights)) {\n    pillarTotals[pillar] += s0to10 * w;\n    pillarWeights[pillar] += w;\n  }\n}\n\nconst pillars = {};\nfor (const pillar of PILLARS) {\n  const denom = pillarWeights[pillar] || 0;\n  const rawScore = denom ? pillarTotals[pillar] / denom : 0;\n  pillars[pillar] = clamp0to10(Math.round(rawScore * 10) / 10);\n}\n\n// Radar = same 5 pillars\nconst radar = { ...pillars };\n\n// ---------------------------\n// 5) Overall score (average of pillars, weighted by pillar importance)\n// ---------------------------\nconst PILLAR_IMPORTANCE = {\n  leadEngagementSpeed: 0.22,\n  appointmentReliabilityConversion: 0.22,\n  operationalFocusTimeEfficiency: 0.22,\n  systemsAutomationMaturity: 0.22,\n  revenueProtectionLeakageControl: 0.12\n};\n\nlet overallNumerator = 0;\nlet overallDenom = 0;\nfor (const p of PILLARS) {\n  const w = PILLAR_IMPORTANCE[p] || 0;\n  overallNumerator += (pillars[p] || 0) * w;\n  overallDenom += w;\n}\nconst overallScore10 = overallDenom ? overallNumerator / overallDenom : 0;\nconst overallScore10Rounded = clamp0to10(Math.round(overallScore10 * 10) / 10);\nconst overallPercent = Math.round((overallScore10Rounded / 10) * 100);\n\n// Bands (0–10)\nfunction bandFor(score10) {\n  if (score10 < 5.0) return \"Critical\";\n  if (score10 < 7.0) return \"Action Required\";\n  if (score10 < 9.0) return \"Average\";\n  return \"Optimised\";\n}\nconst maturityBand = bandFor(overallScore10Rounded);\n\n// ---------------------------\n// 6) Debug/QA (optional)\n// ---------------------------\nconst qa = {\n  missingQuestions,\n  expectedQids\n};\n\n// ---------------------------\n// 7) Informative-only answers (Q13–Q16)  // CHANGED: removed q15SolutionType\n// ---------------------------\nconst informative = {\n  q13DesiredOutcome: (() => {\n    const v = raw[\"q13_desired_outcome\"];\n    if (Array.isArray(v)) return v;\n    if (typeof v === \"string\" && v) return [v];\n    return null;\n  })(),\n  q14AiBarriers: (() => {\n    const v = raw[\"q14_ai_barriers\"];\n    if (Array.isArray(v)) return v;\n    if (typeof v === \"string\" && v) return [v];\n    return null;\n  })(),\n  // CHANGED: q15SolutionType REMOVED (q15_solution_type deleted – covered by q14_ai_barriers)\n  q16AdditionalNotes: ($json.freeText && $json.freeText[\"q16_additional_notes\"]) || null\n};\n\n// ---------------------------\n// 8) Return\n// ---------------------------\nreturn [\n  {\n    json: {\n      ...$json,\n      scoring: {\n        radar,\n        pillars,\n        overall: {\n          score10: overallScore10Rounded,\n          percent: overallPercent,\n          maturityBand\n        },\n        informative,\n        qa\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,336],"id":"1c585e36-3a1b-4c2d-919e-9bc757d65267","name":"Question Scoring / pillar weight"},{"parameters":{"jsCode":"/**\n * Banding + Qualitative Copy Mapping (One Node) — with Traffic Light Colours\n *\n * Expects:\n *   $json.scoring.pillars = {\n *     leadEngagementSpeed: 0-10,\n *     appointmentReliabilityConversion: 0-10,\n *     operationalFocusTimeEfficiency: 0-10,\n *     systemsAutomationMaturity: 0-10,\n *     revenueProtectionLeakageControl: 0-10\n *   }\n *\n * Produces:\n *   $json.banding = { bandsMeta, overallBand }\n *   $json.pillarInsights = {\n *     [pillarKey]: { score, bandKey, bandLabel, bandMeaning, title, body, bandRange, bandColor }\n *   }\n */\n\nconst pillars = $json?.scoring?.pillars || {};\nconst overall10 = $json?.scoring?.overall?.score10 ?? null;\n\n// ---------------------------\n// 1) Band definitions (LOCKED) + Traffic Light Colours\n// ---------------------------\nconst BAND_META = {\n  critical: {\n    label: \"Critical\",\n    range: \"0.0–4.9\",\n    meaning: \"Structural blockers are actively limiting revenue, efficiency, or scale.\",\n    color: \"#C62828\" // red\n  },\n  action_required: {\n    label: \"Action Required\",\n    range: \"5.0–6.9\",\n    meaning: \"Core foundations exist, but execution is inconsistent or fragile.\",\n    color: \"#C62828\" // red\n  },\n  average: {\n    label: \"Average\",\n    range: \"7.0–8.9\",\n    meaning: \"Strong operating shape with clear leverage points.\",\n    color: \"#F9A825\" // amber\n  },\n  optimised: {\n    label: \"Optimised\",\n    range: \"9.0–10.0\",\n    meaning: \"Systemic advantage.\",\n    color: \"#1B5E20\" // dark green\n  }\n};\n\nfunction bandScore(score) {\n  const s = typeof score === \"number\" ? score : 0;\n  if (s >= 9.0) return \"optimised\";\n  if (s >= 7.0) return \"average\";\n  if (s >= 5.0) return \"action_required\";\n  return \"critical\";\n}\n\n// ---------------------------\n// 2) Display labels for pillars (for HTML)\n// ---------------------------\nconst PILLAR_LABELS = {\n  leadEngagementSpeed: \"Lead Engagement & Efficacy\",\n  appointmentReliabilityConversion: \"Appointment Reliability & Conversion\",\n  operationalFocusTimeEfficiency: \"Operational Focus & Time Efficiency\",\n  systemsAutomationMaturity: \"Systems & Automation Maturity\",\n  revenueProtectionLeakageControl: \"Revenue Protection & Leakage Control\"\n};\n\n// ---------------------------\n// 3) Qualitative copy mapping\n// NOTE: keys updated to match new band keys\n// ---------------------------\nconst QUAL_COPY = {\n  leadEngagementSpeed: {\n    critical: {\n      title: \"Slow engagement is costing you live demand\",\n      body: \"The evidence base is clear - an 8x conversion drop occurs after 5 minutes lead wait time, and every 10 minutes after the first minute presents a 400% conversion probability drop per additional increment. Data from Havard Business Review, which reviewed over 15,000 companies and 5 years’ worth of data, shows that you have 60 seconds to conversationally engage new clients. Notably, this does not include an automated message. Anything besides instantaneous two-way dialogue is a significant financial burden to any business.\"\n    },\n    action_required: {\n      title: \"Engagement exists, but speed varies\",\n      body: \"Some automated or semi-automated engagement is in place, but response speed is inconsistent. Leads may be contacted promptly at certain times, but gaps still exist. This creates uneven performance and prevents the business from fully capitalising on inbound demand.\"\n    },\n    average: {\n      title: \"Fast engagement supports stronger outcomes\",\n      body: \"Most new leads are engaged quickly, helping preserve momentum and improve early-stage conversion. Speed to lead is no longer a major constraint, although there may still be edge cases where demand is missed outside core hours or peak volume.\"\n    },\n    optimised: {\n      title: \"Speed to lead is a competitive advantage\",\n      body: \"New enquiries are engaged almost immediately, regardless of time or channel. This protects revenue at the point of entry and materially improves conversion by meeting prospects while intent is highest.\"\n    }\n  },\n\n  appointmentReliabilityConversion: {\n    critical: {\n      title: \"High appointment drop-off is draining capacity\",\n      body: \"A large proportion of booked appointments fail to attend or convert into meaningful conversations. This points to issues with engagement speed, qualification, expectation-setting, or follow-up, resulting in wasted sales effort and unpredictable outcomes. Presently, your customers have not ‘bought in’ to your business and lack commitment and/or trust. This should be addressed as a priority as it will hinder CAC and blunt scaling viability.\"\n    },\n    action_required: {\n      title: \"Conversion works, but is effort-dependent\",\n      body: \"Appointments are often attended, but reliability depends heavily on manual effort or individual performance. This limits scalability and makes conversion performance difficult to forecast consistently.\"\n    },\n    average: {\n      title: \"Appointments convert reliably\",\n      body: \"Most booked appointments are attended and progress as expected. Qualification and engagement are effective enough to support consistent conversion, reducing wasted time and improving sales efficiency.\"\n    },\n    optimised: {\n      title: \"Conversion is predictable and controlled\",\n      body: \"Appointment attendance and conversion are highly reliable, driven by systems rather than manual chasing. This creates predictable revenue flow and removes a major source of operational waste.\"\n    }\n  },\n\n  operationalFocusTimeEfficiency: {\n    critical: {\n      title: \"Too much time is spent on non-core work\",\n      body: \"A significant portion of team time is absorbed by repetitive admin, follow-ups, and manual handling. In business, the adage ‘time is money’ rings true, as we pay staff by the hour. Poor time deflection strategy reduces focus on revenue-generating activity and increases operational drag as the business grows. Burnout & turnover is a risk - 56% of staff report burnout from repetitive tasks; morale tanks, driving 2x higher churn vs. automated operational processes. Further, manual ops require headcount to scale linearly—growth stalls as data volume explodes.\"\n    },\n    action_required: {\n      title: \"Some efficiency gains, but drag remains\",\n      body: \"Certain tasks have been streamlined, but teams are still pulled away from their primary roles. Time leakage persists, limiting capacity and slowing overall execution.\"\n    },\n    average: {\n      title: \"Teams are mostly focused on high-value work\",\n      body: \"Most low-value or repetitive tasks have been reduced or automated. Teams spend the majority of their time on core responsibilities, supporting healthier workloads and more efficient growth.\"\n    },\n    optimised: {\n      title: \"Time is deliberately protected\",\n      body: \"Operational effort is tightly aligned to value creation. Automation and process design minimise distraction, allowing teams to focus almost entirely on high-impact work without increasing headcount.\"\n    }\n  },\n\n  systemsAutomationMaturity: {\n    critical: {\n      title: \"Manual processes create risk and friction\",\n      body: \"Core workflows rely on manual handling or disconnected tools. This increases error risk, slows execution, and limits visibility across performance, making operations harder to manage as volume increases. While majority processes remain manual, scaling is not advised, as unnecessary headcount and error rate correlate positively with growth unless remedied by antecedent action. Competitors are currently implementing manual process reduction strategies as a priority in 2026.\"\n    },\n    action_required: {\n      title: \"Automation exists, but isn’t joined up\",\n      body: \"Some systems and tools are in place, but they don’t work together cleanly. Manual intervention is still required to keep processes moving, reducing the overall impact of automation.\"\n    },\n    average: {\n      title: \"Systems support day-to-day operations\",\n      body: \"Key workflows are automated and reasonably well integrated. Data, documents, and handoffs flow through defined systems, improving consistency and operational visibility.\"\n    },\n    optimised: {\n      title: \"Automation underpins how the business runs\",\n      body: \"Systems are intentionally designed and fully integrated. Automation reduces risk, improves speed, and provides clear oversight across operations, forming a strong foundation for scale.\"\n    }\n  },\n\n  revenueProtectionLeakageControl: {\n    critical: {\n      title: \"Revenue loss is largely unmanaged\",\n      body: \"Opportunities are being lost across the funnel without clear visibility into where or why. This makes revenue unpredictable and limits the ability to address the underlying causes of leakage. It’s important to understand that we cannot manage what we do not measure. Simple, comprehensive key metric dashboards should be present to provide domain-specific diagnostics in real time before deleterious impact is inevitable.\"\n    },\n    action_required: {\n      title: \"Leakage is visible, but not fully controlled\",\n      body: \"Some drop-off points are understood, but controls are inconsistent. Revenue protection relies on manual monitoring rather than systemic safeguards, leaving avoidable value on the table.\"\n    },\n    average: {\n      title: \"Most leakage is actively managed\",\n      body: \"The business has good visibility into where opportunities are lost and takes steps to reduce avoidable drop-off. This improves conversion efficiency and protects revenue without increasing acquisition spend.\"\n    },\n    optimised: {\n      title: \"Revenue is structurally protected\",\n      body: \"Systems and processes are designed to minimise leakage at each stage of the journey. Opportunities are captured, qualified, and progressed consistently, creating more predictable and resilient revenue outcomes.\"\n    }\n  }\n};\n\n// ---------------------------\n// 4) Build pillarInsights output\n// ---------------------------\nconst pillarInsights = {};\n\nfor (const [pillarKey, score] of Object.entries(pillars)) {\n  if (!PILLAR_LABELS[pillarKey]) continue;\n\n  const bandKey = bandScore(score);\n  const meta = BAND_META[bandKey];\n\n  const copyBucket = QUAL_COPY[pillarKey] || {};\n  const copy = copyBucket[bandKey] || { title: \"\", body: \"\" };\n\n  pillarInsights[pillarKey] = {\n    pillarKey,\n    pillarLabel: PILLAR_LABELS[pillarKey],\n    score: typeof score === \"number\" ? Math.round(score * 10) / 10 : 0,\n\n    bandKey,\n    bandLabel: meta.label,\n    bandMeaning: meta.meaning,\n    bandRange: meta.range,\n\n    bandColor: meta.color,\n\n    title: copy.title,\n    body: copy.body\n  };\n}\n\n// ---------------------------\n// 5) Overall band (based on overall score10 if present)\n// ---------------------------\nlet overallBand = null;\nif (typeof overall10 === \"number\") {\n  const k = bandScore(overall10);\n  overallBand = {\n    score10: Math.round(overall10 * 10) / 10,\n    bandKey: k,\n    bandLabel: BAND_META[k].label,\n    bandMeaning: BAND_META[k].meaning,\n    bandRange: BAND_META[k].range,\n    bandColor: BAND_META[k].color\n  };\n}\n\n// ---------------------------\n// 6) Return enriched JSON\n// ---------------------------\nreturn [\n  {\n    json: {\n      ...$json,\n      banding: {\n        bandsMeta: BAND_META,\n        overallBand\n      },\n      pillarInsights\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,336],"id":"c6c4732b-282b-4e7b-9555-ceae9d2587cc","name":"banding / qual mapping"},{"parameters":{"jsCode":"// Resolve upstream data\nconst edit = $('Edit Fields').first().json;\nconst banding = $('banding / qual mapping').first().json;\n\nconst to = edit.email || edit.body?.contact?.email || \"\";\nconst firstNameRaw = edit.name || edit.body?.contact?.name || \"there\";\nconst firstName = String(firstNameRaw).trim().split(\" \")[0] || \"there\";\n\nconst pdf = (($json.pdf_base64 || \"\") + \"\")\n  .replace(/^data:application\\/pdf;base64,/, \"\");\n\n// Build TOP_3_FINDINGS from lowest pillar scores\nconst pillarLabels = {\n  leadEngagementSpeed: \"Lead Engagement & Efficacy\",\n  appointmentReliabilityConversion: \"Appointment Reliability & Conversion\",\n  operationalFocusTimeEfficiency: \"Operational Focus & Time Efficiency\",\n  systemsAutomationMaturity: \"Systems & Automation Maturity\",\n  revenueProtectionLeakageControl: \"Revenue Protection & Leakage Control\",\n};\n\nconst scores = banding?.scoring?.pillars || {};\nconst insights = banding?.pillarInsights || {};\n\nconst top3 = Object.entries(scores)\n  .map(([key, score]) => {\n    const numericScore = typeof score === \"number\" ? score : 0;\n    const label = insights[key]?.pillarLabel || pillarLabels[key] || key;\n    const bandLabel = insights[key]?.bandLabel || \"\";\n    return {\n      label,\n      score: numericScore,\n      bandLabel,\n    };\n  })\n  .sort((a, b) => a.score - b.score)\n  .slice(0, 3);\n\nconst top3FindingsHtml = top3.length\n  ? `<ul>${top3\n      .map(\n        (f) =>\n          `<li><strong>${f.label}</strong> — ${f.score.toFixed(1)}/10${f.bandLabel ? ` (${f.bandLabel})` : \"\"}</li>`\n      )\n      .join(\"\")}</ul>`\n  : \"<p>We identified several operational constraints that may be impacting revenue.</p>\";\n\nconst body = {\n  from: \"HumTech.ai <hello@humtech.ai>\",\n  to,\n  bcc: [\"hello@humtech.ai\"],\n  subject: \"Your HumTech AI Diagnostic\",\n  html: `\n    <p>Hi ${firstName},</p>\n\n    <p>Here’s a copy of your <strong>HumTech AI Diagnostic</strong>.</p>\n\n    <p>Your diagnostic flagged the following areas which may be adversely impacting revenue:</p>\n    ${top3FindingsHtml}\n\n    <p><strong>Your next step:</strong> Reply to <strong>Ariyah</strong>, our friendly AI employee, via SMS. She’ll check our calendar and schedule a mutually convenient time for a call.</p>\n\n    <p><strong>OR</strong> reply to this email with <strong>3 dates/times</strong> when you have at least 30 minutes available.</p>\n\n    <p>Please be aware: the purpose of this call is to ensure that we’re a good fit for each other, and to confirm that there are clear AI revenue uplift solutions.</p>\n\n    <p>We provide direct, on-demand 1:1 access to your own team of AI specialists, with instant response times and custom-made solutions. Consequently, our service is in high demand, and we have limited spaces due to the time commitment we allocate per client.</p>\n\n    <p>Each quarter we onboard no more than 3 businesses, and we must be selective. If we feel that we may not be a good fit for you on your consultation call, we won’t be able to progress at this time. However, we may make recommendations which would allow us to work together at a later stage.</p>\n\n    <p>Once our quarterly intake is full, we will add you to the wait list for the following quarter and reach out once we have capacity to help.</p>\n\n    <p>Thank you for your interest, and we look forward to speaking with you soon.</p>\n\n    <p>\n      Chris Silver<br>\n      Strategic Director<br>\n      HumTech<br>\n      <a href=\"mailto:hello@humtech.ai\">hello@humtech.ai</a>\n    </p>\n\n    <p><strong>Intake spaces remaining Q1 2026: 2</strong></p>\n  `,\n  attachments: [\n    {\n      filename: \"HumTech-Assessment-Report.pdf\",\n      content: pdf,\n      content_type: \"application/pdf\",\n    },\n  ],\n};\n\nreturn [{ json: { resend_raw: JSON.stringify(body) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,432],"id":"8de44be1-07f6-4086-995b-5737766c8172","name":"email"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"humtech","mode":"list","cachedResultName":"humtech"},"table":{"__rl":true,"value":"assessment_results","mode":"list","cachedResultName":"assessment_results"},"columns":{"mappingMode":"defineBelow","value":{"submission_id":"={{ $('Edit Fields').item.json.body.submission_id }}","created_at":"={{ $('Edit Fields').item.json.body.timestamp }}","email":"={{ $('Edit Fields').item.json.body.contact.email }}","company":"={{ $('Edit Fields').item.json.body.contact.company }}","results":"={{ {\n  submission_id: $json.submission_id,\n  submitted_at: $json.submitted_at,\n  contact: { email: $json.email, company: $json.company },\n  scoring: $json.scoring,\n  banding: $json.banding,\n  pillarInsights: $json.pillarInsights,\n  revenueWaterfall: $json.revenueWaterfall,\nqualification: $json.qualification,\n  radarUrl: $json.radarUrl\n} }}","results_html":"={{ $json.source }}"},"matchingColumns":["submission_id"],"schema":[{"id":"submission_id","displayName":"submission_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"results","displayName":"results","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"results_html","displayName":"results_html","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1488,160],"id":"40508803-ee36-45e1-bfc4-ce0c4edb5dc7","name":"Postgres results object","credentials":{"postgres":{"id":"f5yl1NLpxYkVnO1v","name":"humtech_postgres_prod"}}},{"parameters":{"jsCode":"const raw = $json.rawAnswers || {};\nconst q = $json.qualification || $json.body?.qualification || {};\nconst contact = $json.contact || $json.body?.contact || {};\n\n// Qualification from frontend answer IDs\nconst leadVolumeMid = { A: 30, B: 125, C: 350, D: 600, E: 125 };\nconst dealValueMid = { A: 300, B: 1250, C: 6000, D: 15000, E: 1250 };\n\nconst grossRevenueAnnualMid = {\n  A: 60000000, // 50m+\n  B: 30000000, // 10-50m\n  C: 7500000,  // 5-10m\n  D: 4000000,  // 3-5m\n  E: 2000000,  // <3m\n  F: null      // unknown\n};\n\nconst grossMarginMid = {\n  A: 0.90,\n  B: 0.80,\n  C: 0.60,\n  D: 0.40,\n  E: 0.25,\n  F: null\n};\n\n// Fallbacks if qualification missing\nconst defaultLeadVolume = contact.revenueRange5to500m === \"yes\" ? 125 : 30;\nconst defaultDealValue = contact.revenueRange5to500m === \"yes\" ? 6000 : 1250;\n\nconst leadVolume = leadVolumeMid[q.leadVolume] ?? defaultLeadVolume;\nconst avgDealValue = dealValueMid[q.dealValue] ?? defaultDealValue;\nconst estimatedAnnualRevenue = grossRevenueAnnualMid[q.estimatedGrossRevenue] ?? null;\nconst estimatedGrossMargin = grossMarginMid[q.estimatedGrossMargin] ?? null;\n\n// Stage rates from existing scored answers\nconst ghostRateMap = { A: 0.10, B: 0.20, C: 0.35, D: 0.30, E: 0.35 };\nconst showRateMap = { A: 0.30, B: 0.50, C: 0.70, D: 0.85, E: 0.70 };\nconst conversionRateMap = { A: 0.80, B: 0.60, C: 0.35, D: 0.50 };\n\nconst ghostRate = ghostRateMap[raw.q1_engagement_method] ?? 0.35;\nconst showRate = showRateMap[raw.q4_show_rate] ?? 0.70;\nconst conversionRate = conversionRateMap[raw.q12_current_situation] ?? 0.55;\n\nconst pipeline = leadVolume * avgDealValue;\nconst engagementLoss = pipeline * ghostRate;\nconst afterEngagement = pipeline - engagementLoss;\n\nconst attendanceLoss = afterEngagement * (1 - showRate);\nconst afterAttendance = afterEngagement - attendanceLoss;\n\nconst conversionLoss = afterAttendance * (1 - conversionRate);\nconst closedValue = afterAttendance - conversionLoss;\n\nconst totalLoss = engagementLoss + attendanceLoss + conversionLoss;\nconst captureRatePercent = pipeline > 0 ? (closedValue / pipeline) * 100 : 0;\n\nconst biggestLeakStage = [\n  { stage: \"engagement\", value: engagementLoss },\n  { stage: \"attendance\", value: attendanceLoss },\n  { stage: \"conversion\", value: conversionLoss },\n].sort((a, b) => b.value - a.value)[0]?.stage || \"engagement\";\n\nconst recommendedLeadProduct =\n  biggestLeakStage === \"engagement\"\n    ? \"speed_to_lead\"\n    : biggestLeakStage === \"attendance\"\n    ? \"attendance_automation\"\n    : \"conversion_followup\";\n\n// Extra commercial lens using gross margin question\nconst grossProfitPipeline = estimatedGrossMargin == null ? null : pipeline * estimatedGrossMargin;\nconst grossProfitAtRisk = estimatedGrossMargin == null ? null : totalLoss * estimatedGrossMargin;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      revenueWaterfall: {\n        leadVolume,\n        avgDealValue,\n        estimatedAnnualRevenue,\n        estimatedGrossMargin,\n        pipeline: Math.round(pipeline),\n        engagementLoss: Math.round(engagementLoss),\n        attendanceLoss: Math.round(attendanceLoss),\n        conversionLoss: Math.round(conversionLoss),\n        closedValue: Math.round(closedValue),\n        totalLoss: Math.round(totalLoss),\n        captureRatePercent: Math.round(captureRatePercent * 10) / 10,\n        biggestLeakStage,\n        grossProfitPipeline: grossProfitPipeline == null ? null : Math.round(grossProfitPipeline),\n        grossProfitAtRisk: grossProfitAtRisk == null ? null : Math.round(grossProfitAtRisk),\n      },\n      qualification: {\n        ...q,\n        estimated_monthly_pipeline: Math.round(pipeline),\n        estimated_monthly_loss: Math.round(totalLoss),\n        capture_rate_percent: Math.round(captureRatePercent),\n        biggest_leak_stage: biggestLeakStage,\n        recommended_lead_product: recommendedLeadProduct,\n        decision_maker: true,\n      },\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,336],"id":"697dc8b9-7335-4f52-9c98-6af1fc8ce2b3","name":"Revenue Waterfall / Qualification"},{"parameters":{"respondWith":"text","responseBody":"={\n  \"submission_id\": \"={{ $('Edit Fields').item.json.body.submission_id }}\"\n}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1408,432],"id":"dff8ce59-8a5f-4ca1-8e08-4b795ba79ed7","name":"Respond to Webhook with sub_id"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/hooks/V7m7dlgTERFjn0t4soSv/webhook-trigger/0086d659-e529-4cc4-8734-23af62880b13","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.ghl_payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1824,672],"id":"80ec6222-a29a-4f7a-9766-b160d6b85c20","name":"send to GHL"},{"parameters":{"jsCode":"// Build GHL Payload (Code node)\n\nconst edit = $('Edit Fields').first().json;\nconst scoring = $('Question Scoring / pillar weight').first().json;\nconst waterfall = $('Revenue Waterfall / Qualification').first().json;\n\nconst allAnswers = edit.answers || [];\n\n// Split full name -> first / last (for GHL automations)\nconst fullName = (edit.name || '').trim();\nconst nameParts = fullName.split(/\\s+/).filter(Boolean);\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.length > 1 ? nameParts.slice(1).join(' ') : '';\n\n// Full human-readable lines (question + selected answer sentence)\nconst answerLines = allAnswers.map((a) => {\n  const answerText = Array.isArray(a.answerText)\n    ? a.answerText.join('; ')\n    : (a.answerText || '');\n  return `${a.questionText}: ${answerText}`;\n});\n\nconst scoredLines = allAnswers\n  .filter((a) => a.isScored)\n  .map((a) => {\n    const answerText = Array.isArray(a.answerText)\n      ? a.answerText.join('; ')\n      : (a.answerText || '');\n    return `${a.questionText}: ${answerText}`;\n  });\n\nconst infoLines = allAnswers\n  .filter((a) => !a.isScored)\n  .map((a) => {\n    const answerText = Array.isArray(a.answerText)\n      ? a.answerText.join('; ')\n      : (a.answerText || '');\n    return `${a.questionText}: ${answerText}`;\n  });\n\nconst payload = {\n  email: edit.email || '',\n  companyName: edit.company || '',\n  name: fullName,\n  firstName,\n  lastName,\n  job_title: edit.job_title || '',\n  mobile: edit.mobile || '',\n  submission_id: edit.submission_id || '',\n  customFields: {\n    humtech_assessment_version: 'v2',\n    humtech_assessment_source: edit.source || 'humtech-scorecard',\n    humtech_submitted_at: edit.submitted_at || '',\n\n    // Added for easier automation branching in GHL\n    humtech_first_name: firstName,\n    humtech_last_name: lastName,\n\n    humtech_overall_score: scoring.scoring?.overall?.score10 || '',\n    humtech_overall_band: scoring.scoring?.overall?.maturityBand || '',\n    humtech_lead_engagement_score: scoring.scoring?.pillars?.leadEngagementSpeed || '',\n    humtech_appointment_reliability_score: scoring.scoring?.pillars?.appointmentReliabilityConversion || '',\n    humtech_operational_focus_score: scoring.scoring?.pillars?.operationalFocusTimeEfficiency || '',\n    humtech_systems_maturity_score: scoring.scoring?.pillars?.systemsAutomationMaturity || '',\n    humtech_revenue_protection_score: scoring.scoring?.pillars?.revenueProtectionLeakageControl || '',\n\n    humtech_pipeline_estimate: waterfall.revenueWaterfall?.pipeline || '',\n    humtech_monthly_loss_estimate: waterfall.revenueWaterfall?.totalLoss || '',\n    humtech_capture_rate_percent: waterfall.revenueWaterfall?.captureRatePercent || '',\n    humtech_biggest_leak_stage: waterfall.revenueWaterfall?.biggestLeakStage || '',\n    humtech_estimated_closed_value: waterfall.revenueWaterfall?.closedValue || '',\n\n    humtech_lead_volume_tier: waterfall.qualification?.leadVolume || '',\n    humtech_deal_value_tier: waterfall.qualification?.dealValue || '',\n    humtech_estimated_gross_revenue_tier: waterfall.qualification?.estimatedGrossRevenue || '',\n    humtech_estimated_gross_margin_tier: waterfall.qualification?.estimatedGrossMargin || '',\n    humtech_recommended_lead_product: waterfall.qualification?.recommended_lead_product || '',\n\n    // Raw + full answers\n    humtech_assessment_raw_json: JSON.stringify(edit.rawAnswers || {}),\n    humtech_assessment_answers_json: JSON.stringify(allAnswers || []),\n\n    // Human-readable answer text (what they actually selected)\n    humtech_answers_readable: answerLines.join('\\n'),\n    humtech_scored_answers_readable: scoredLines.join('\\n'),\n    humtech_informative_answers_readable: infoLines.join('\\n'),\n  },\n};\n\nreturn [{ json: { ...$json, ghl_payload: payload } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,672],"id":"5c74b6e0-aa5b-4b1d-af05-8d9009f51f71","name":"prepare payload for GHL"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Question Scoring / pillar weight","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"email","type":"main","index":0}]]},"Radar chart URL":{"main":[[{"node":"Build PDF HTML","type":"main","index":0}]]},"Build PDF HTML":{"main":[[{"node":"Respond to Webhook with sub_id","type":"main","index":0},{"node":"Postgres results object","type":"main","index":0}]]},"PDFShift":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Question Scoring / pillar weight":{"main":[[{"node":"banding / qual mapping","type":"main","index":0}]]},"banding / qual mapping":{"main":[[{"node":"Revenue Waterfall / Qualification","type":"main","index":0}]]},"email":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Revenue Waterfall / Qualification":{"main":[[{"node":"Radar chart URL","type":"main","index":0}]]},"Respond to Webhook with sub_id":{"main":[[{"node":"PDFShift","type":"main","index":0},{"node":"prepare payload for GHL","type":"main","index":0}]]},"prepare payload for GHL":{"main":[[{"node":"send to GHL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"Europe/London","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.resg.uk","x-real-ip":"145.224.67.154","x-forwarded-for":"145.224.67.154","x-forwarded-proto":"https","content-length":"5572","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36 Edg/145.0.0.0","sec-ch-ua":"\"Not:A-Brand\";v=\"99\", \"Microsoft Edge\";v=\"145\", \"Chromium\";v=\"145\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","origin":"https://assessment.humtech.ai","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"https://assessment.humtech.ai/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,en-GB;q=0.8","priority":"u=1, i"},"params":{},"query":{},"body":{"submission_id":"bfb587bc-9ada-45bc-8dfe-acd6aeb177c6","assessment_version":"v2","contact":{"name":"Louise Oram-Knight","email":"loumknighty@gmail.com","company":"test","revenueRange5to500m":"","mobile":"+447915262257","title":""},"timestamp":"2026-02-18T11:56:56.419Z","rawAnswers":{"q1_engagement_method":"D","q2_response_time":"D","q3_247_booking":"B","q4_show_rate":"C","q5_repetitive_manual_processes":"B","q6_issue_detection":"B","q7_metric_tracking":"D","q8_non_revenue_time":"D","q11_documents_and_signatures":"C","q12_current_situation":"C","q_lead_volume":"D","q_deal_value":"A","q_estimated_gross_revenue":"D","q_estimated_gross_margin":"D","q13_desired_outcome":["A","B","C","D"],"q14_ai_barriers":["A","B","C","D"]},"answers":[{"questionId":"q1_engagement_method","questionText":"How are you engaging new leads at the point of enquiry?","answerId":"D","answerText":"Clients self-book (e.g. Calendly)","isScored":true},{"questionId":"q2_response_time","questionText":"On average, how long does it take from point of enquiry to first conversational engagement for your clients?","answerId":"D","answerText":"More than 1 hour","isScored":true},{"questionId":"q3_247_booking","questionText":"Can your clients ask questions and book appointments 24/7, 7 days a week?","answerId":"B","answerText":"No","isScored":true},{"questionId":"q4_show_rate","questionText":"What percentage of new leads schedule an appointment/call without human intervention?","answerId":"C","answerText":"50–70%","isScored":true},{"questionId":"q5_repetitive_manual_processes","questionText":"What percentage of processes are repetitive/manual? (E.g. data entry, spreadsheet work, report generating, compliance, follow up, copy/paste between systems)","answerId":"B","answerText":"30–50%","isScored":true},{"questionId":"q6_issue_detection","questionText":"How often do issues show up in your business later than you'd like? (e.g. missed steps, delays, errors, unhappy clients)","answerId":"B","answerText":"Occasionally - issues surface after some damage is done","isScored":true},{"questionId":"q7_metric_tracking","questionText":"Do you track key revenue metrics in one place e.g. time to lead engagement, conversion %, staff deflection savings, pipeline coverage, and sales cycle length?","answerId":"D","answerText":">50% - we don't know what we don't know, and should be measuring more metrics which impact our service and revenue.","isScored":true},{"questionId":"q8_non_revenue_time","questionText":"On average how much time per week does each client facing team member spend performing non revenue generating tasks?","answerId":"D","answerText":"More than 5 hours per week","isScored":true},{"questionId":"q11_documents_and_signatures","questionText":"If your business sends and receives client documents or request signatures:","answerId":"C","answerText":"We request any documents or signatures via email from the client","isScored":true},{"questionId":"q12_current_situation","questionText":"What best describes your **current** situation? (not all aspects may be relevant, just pick the best fit).","answerId":"C","answerText":"No AI/automation. <50% new leads book & attend appointments. Below desired sales conversion. High repetitive admin. Medium-high GDPR risk & time loss through email/doc requests. Lead gen & marketing unsatisfactory (ROAS/CRO/CAC/CPL/Copy & Creatives). KPI data has manual elements and metrics/display could be improved.","isScored":true},{"questionId":"q_lead_volume","questionText":"How many new enquiries/leads does your business typically receive per month?","answerId":"D","answerText":"500+","isScored":false},{"questionId":"q_deal_value","questionText":"What is your average deal/transaction value?","answerId":"A","answerText":"Under £500","isScored":false},{"questionId":"q_estimated_gross_revenue","questionText":"Estimated gross revenue:","answerId":"D","answerText":"3-5 million","isScored":false},{"questionId":"q_estimated_gross_margin","questionText":"Estimated gross margin:","answerId":"D","answerText":"30-50%","isScored":false},{"questionId":"q13_desired_outcome","questionText":"What best describes the outcome you're looking for? (Select all that apply)","answerId":["A","B","C","D"],"answerText":["Time saving deflection ROI - more output per unit of time, fewer manual processes","'Done For You' AI sales system with guaranteed attendance and conversion improvement","'Done For You' AI lead generation with guaranteed ROAS improvement (full ad account management)","Growth without friction or linear headcount requirements"],"isScored":false},{"questionId":"q14_ai_barriers","questionText":"What has prevented you from implementing an comprehensive AI strategy previously? (Select all that apply)","answerId":["A","B","C","D"],"answerText":["We've tried other platforms/apps and the technology did not meet our standards, solve a problem, or evidence sufficient ROI/use case","We've found options are too expensive","We don't want to commit to upfront payments, retainers or contracts without evidence that the system produces results for our business specifically","We have yet to find a comprehensive solution which can implement AI infrastructure across all departments - most services only solve one or two problems"],"isScored":false}],"qualification":{"leadVolume":"D","leadVolumeLabel":"500+","dealValue":"A","dealValueLabel":"Under £500","estimatedGrossRevenue":"D","estimatedGrossRevenueLabel":"3-5 million","estimatedGrossMargin":"D","estimatedGrossMarginLabel":"30-50%"},"freeText":{"q16_additional_notes":""}},"webhookUrl":"https://n8n.resg.uk/webhook/97e0ddcc-00b0-4f9e-a45c-2c484e9754bc","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"86d06afd-6cab-4554-9c3d-c784ac79f709","activeVersionId":"86d06afd-6cab-4554-9c3d-c784ac79f709","versionCounter":105,"triggerCount":1,"shared":[{"updatedAt":"2026-01-08T23:35:29.406Z","createdAt":"2026-01-08T23:35:29.406Z","role":"workflow:owner","workflowId":"UPceXr0EYkOlRsjz","projectId":"oDVVpzjUWgCigy2I","project":{"updatedAt":"2025-12-11T12:27:03.401Z","createdAt":"2025-12-09T10:45:04.837Z","id":"oDVVpzjUWgCigy2I","name":"Louise Oram-Knight <louise.knight@resg.uk>","type":"personal","icon":null,"description":null,"creatorId":"4b591549-ae19-490f-a88d-77de6a0ef500"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-25T09:45:54.000Z","createdAt":"2026-02-25T09:45:34.341Z","versionId":"86d06afd-6cab-4554-9c3d-c784ac79f709","workflowId":"UPceXr0EYkOlRsjz","nodes":[{"parameters":{"httpMethod":"POST","path":"97e0ddcc-00b0-4f9e-a45c-2c484e9754bc","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"528d4517-8001-4350-96b5-4d426bd1f3bc","name":"Webhook","webhookId":"97e0ddcc-00b0-4f9e-a45c-2c484e9754bc"},{"parameters":{"assignments":{"assignments":[{"id":"96485bad-d94c-4e4c-bf65-b76a822df0ff","name":"assessment_id","value":"humtech_v2","type":"string"},{"id":"9c80f6ec-8ad6-4003-803e-6d1ac26abe5a","name":"submission_id","value":"={{ $json.body.submission_id }}","type":"string"},{"id":"2171c818-5b60-44c1-a626-5ed8f7b70575","name":"submitted_at","value":"={{ $json.body.timestamp }}","type":"string"},{"id":"e6150052-f9f4-43ae-b356-f04c0e34f525","name":"email","value":"={{ $json.body.contact.email }}","type":"string"},{"id":"7a46304b-aaba-495d-b3c5-675a7b58a5ff","name":"answers","value":"={{$json.body.answers}}","type":"array"},{"id":"e3ba368d-0517-4dbb-ae7b-c9a62a45c29a","name":"rawAnswers","value":"={{ $json.body.rawAnswers }}","type":"object"},{"id":"32cda425-4d6a-4a19-bb0a-34d0ae3eae62","name":"source","value":"humtech-scorecard","type":"string"},{"id":"30a54ea9-62e3-4e88-a1e2-54f719222415","name":"company","value":"={{ $json.body.contact.company }}","type":"string"},{"id":"106cdc95-3527-4078-a5d4-afb17e7d2a9c","name":"mobile","value":"={{ $json.body.contact.mobile }}","type":"string"},{"id":"5e823e9a-094d-472b-b8c5-6a4e1a2fbae2","name":"job_title","value":"={{ $json.body.contact.title }}","type":"string"},{"id":"05c81031-8936-4fcc-acbd-f0281378fbc3","name":"name","value":"={{ $json.body.contact.name }}","type":"string"},{"id":"f7c875a2-2d5a-47d2-b68c-622234f79872","name":"revenue_5-500m","value":"={{ $json.body.contact.revenueRange5to500m }}","type":"string"},{"id":"ffcf6d6a-b090-42e1-8e4b-1a20ed2dd0e9","name":"submitted_at_uk","value":"={{ new Date($json.body.timestamp).toLocaleString('en-GB', { dateStyle: 'medium', timeStyle: 'short', timeZone: 'Europe/London' }) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,128],"id":"1ad86c8a-6270-4b23-a468-c532f8da2331","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer re_GZUNd33M_LpM8rXnSMsd9USzrREMMG4Zg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"=application/json","body":"={{ $json.resend_raw }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2448,432],"id":"355556b0-1abe-4fe2-b717-4df0e33ea0a5","name":"HTTP Request1"},{"parameters":{"operation":"binaryToPropery","destinationKey":"pdf_base64","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[2080,432],"id":"e34078ab-5ee8-47ee-8ceb-5dbaf0a73bb1","name":"Extract from File"},{"parameters":{"jsCode":"const r = $json.scoring?.radar || {};\n\n// 5-axis radar (split labels onto 2 lines using \\n)\nconst labels = [\n  \"Lead Engagement &\\nEfficacy\",\n  \"Appointment Reliability &\\nConversion\",\n  \"Operational Focus &\\nTime Efficiency\",\n  \"Systems &\\nAutomation Maturity\",\n  \"Revenue Protection &\\nLeakage Control\"\n];\n\n// Values are 0–10 from your scoring node\nconst rawValues = [\n  r.leadEngagementSpeed ?? 0,\n  r.appointmentReliabilityConversion ?? 0,\n  r.operationalFocusTimeEfficiency ?? 0,\n  r.systemsAutomationMaturity ?? 0,\n  r.revenueProtectionLeakageControl ?? 0\n];\n\n// keep 1dp\nconst yourScores = rawValues.map(v => Math.round(v * 10) / 10);\n\nconst chartConfig = {\n  type: \"radar\",\n  data: {\n    labels,\n    datasets: [\n      {\n        label: \"Your operating state\",\n        data: yourScores,\n        fill: true,\n\n        // your brand styling (dataset area)\n        backgroundColor: \"rgba(61,178,221,0.28)\",\n        borderColor: \"#193050\",\n        pointBackgroundColor: \"#193050\",\n        pointBorderColor: \"#193050\",\n\n        pointRadius: 3,\n        borderWidth: 2.5\n      }\n    ]\n  },\n  options: {\n    legend: { display: false },\n\n    scale: {\n      ticks: {\n        min: 0,\n        max: 10,\n        stepSize: 2,\n\n        // ✅ make 2–10 bigger + darker\n        fontSize: 24,\n        fontStyle: \"bold\",\n        fontColor: \"#193050\",\n\n        backdropColor: \"rgba(0,0,0,0)\"\n      },\n\n      // ✅ make axis labels BIG + readable\n      pointLabels: {\n        fontSize: 28,\n        fontStyle: \"bold\",\n        fontColor: \"#193050\"\n      },\n\n      // ✅ darker/thicker spider web\n      gridLines: {\n        color: \"rgba(25,48,80,0.38)\",\n        lineWidth: 1.6\n      },\n      angleLines: {\n        color: \"rgba(25,48,80,0.38)\",\n        lineWidth: 1.6\n      }\n    }\n  }\n};\n\n// bigger image for PDF clarity\nconst radarUrl =\n  \"https://quickchart.io/chart?width=1700&height=1250&devicePixelRatio=2&format=png&backgroundColor=white&c=\" +\n  encodeURIComponent(JSON.stringify(chartConfig));\n\nreturn [{ json: { ...$json, radarUrl } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,336],"id":"b574cffa-e5b2-4359-8cfc-bf83ebaf58cf","name":"Radar chart URL"},{"parameters":{"jsCode":"const input = $input.first().json;\n\nconst company   = input.company_name || input.company || \"Your Company\";\nconst email     = input.email || \"—\";\nconst submitted = input.submitted_at || input.submitted || new Date().toISOString();\nconst radarUrl  = input.radarUrl || input.radar_url || \"\";\n\nconst overallScore =\n  input.scoring?.overall?.score10 ?? input.overall_score ?? input.overallScore ?? \"—\";\nconst overallBand  =\n  input.banding?.overallBand?.bandLabel ?? input.scoring?.overall?.maturityBand ??\n  input.overall_band_label ?? input.overallBandLabel ?? \"—\";\n\nconst wf     = input.revenueWaterfall || {};\nconst money  = (n) => typeof n === \"number\" ? `£${Math.round(n).toLocaleString()}` : \"N/A\";\nconst pct    = (n) => typeof n === \"number\" ? `${n}%` : \"N/A\";\nconst stg    = (s) => s ? s.charAt(0).toUpperCase() + s.slice(1) : \"N/A\";\n\nconst PILLAR_ORDER = [\n  \"leadEngagementSpeed\",\n  \"appointmentReliabilityConversion\",\n  \"operationalFocusTimeEfficiency\",\n  \"systemsAutomationMaturity\",\n  \"revenueProtectionLeakageControl\"\n];\nconst PILLAR_LABELS = {\n  leadEngagementSpeed:              \"Lead Engagement & Efficacy\",\n  appointmentReliabilityConversion: \"Appointment Reliability & Conversion\",\n  operationalFocusTimeEfficiency:   \"Operational Focus & Time Efficiency\",\n  systemsAutomationMaturity:        \"Systems & Automation Maturity\",\n  revenueProtectionLeakageControl:  \"Revenue Protection & Leakage Control\"\n};\n\nconst pillarScores   = input.scoring?.pillars || input.scoring?.radar || {};\nconst pillarInsights = input.pillarInsights || {};\n\n// CHANGED: \"adequate\" → \"average\" to match banding node output\nconst TL = {\n  \"critical\":         \"#C0392B\",\n  \"action required\":  \"#C0392B\",\n  \"average\":          \"#D48C22\",\n  \"optimised\":        \"#1E7D4B\",\n};\nconst tl = (b) => TL[String(b||\"\").toLowerCase().trim()] ?? \"#D48C22\";\n\nconst overallColor   = tl(overallBand);\nconst overallDisplay = typeof overallScore === \"number\" ? overallScore.toFixed(1) : overallScore;\n\n// Pillar stat cards\nconst pillarRowsHtml = PILLAR_ORDER.map(k => {\n  const score   = pillarInsights[k]?.score    ?? pillarScores[k] ?? 0;\n  const band    = pillarInsights[k]?.bandLabel ?? \"—\";\n  const meaning = pillarInsights[k]?.bandMeaning ?? \"\";\n  const label   = pillarInsights[k]?.pillarLabel ?? PILLAR_LABELS[k] ?? k;\n  const desc    = String(meaning || \"\").replace(/\\s+/g, \" \").trim();\n  const c       = tl(band);\n  return `\n    <div class=\"pillar-stat\">\n      <div class=\"ps-score\" style=\"color:${c};\">${Number(score).toFixed(1)}<span class=\"ps-den\">/10</span></div>\n      <div class=\"ps-band\"><span class=\"ps-dot\" style=\"background:${c};\"></span>${band}</div>\n      <div class=\"ps-name\">${label}</div>\n      ${desc ? `<div class=\"ps-desc\">${desc}</div>` : \"\"}\n    </div>`;\n}).join(\"\");\n\n// Waterfall rows\nconst pipeline = wf.pipeline || 0;\nconst engLoss  = wf.engagementLoss  || 0;\nconst attLoss  = wf.attendanceLoss  || 0;\nconst convLoss = wf.conversionLoss  || 0;\nconst closed   = wf.closedValue     || 0;\nconst totalLoss = wf.totalLoss || (engLoss + attLoss + convLoss);\nconst maxVal   = Math.max(pipeline, 1);\nconst bar      = (v) => Math.min(100, Math.max(2, (v / maxVal) * 100));\n\nconst wfRowsHtml = [\n  { label:\"Estimated pipeline\",      desc:\"\",                                  val:money(pipeline), amount:money(pipeline),    type:\"source\",  barW:100 },\n  { label:\"Lost at engagement\",      desc:\"Slow response, no automated follow-up\", val:`−${money(engLoss)}`,  amount:`−${money(engLoss)}`,  type:\"loss\",   barW:bar(engLoss)  },\n  { label:\"Lost at attendance\",      desc:\"No-shows and late reschedules\",     val:`−${money(attLoss)}`,  amount:`−${money(attLoss)}`,  type:\"loss\",   barW:bar(attLoss)  },\n  { label:\"Lost at conversion\",      desc:\"Insufficient close process\",        val:`−${money(convLoss)}`, amount:`−${money(convLoss)}`, type:\"loss\",   barW:bar(convLoss) },\n  { label:\"Estimated closed revenue\",desc:\"\",                                  val:money(closed),   amount:money(closed),      type:\"closed\", barW:bar(closed)   },\n].map(r => {\n  const ic = r.type === \"source\" ? {bg:\"rgba(25,48,80,0.10)\",c:\"var(--navy)\",sym:\"→\"}\n           : r.type === \"loss\"   ? {bg:\"rgba(192,57,43,0.10)\", c:\"#C0392B\",sym:\"↘\"}\n           :                       {bg:\"rgba(25,48,80,0.10)\",  c:\"var(--navy)\",sym:\"→\"};\n  const barColor = r.type === \"loss\" ? \"#C0392B\" : \"rgba(25,48,80,0.25)\";\n  const amtColor = r.type === \"loss\" ? \"#C0392B\" : \"var(--navy)\";\n  return `\n    <div class=\"wf-row\">\n      <div class=\"wf-icon-col\">\n        <div class=\"wf-circle\" style=\"background:${ic.bg};color:${ic.c};\">${ic.sym}</div>\n      </div>\n      <div>\n        <div class=\"wf-label\">${r.label}</div>\n        ${r.desc ? `<div class=\"wf-desc\">${r.desc}</div>` : \"\"}\n      </div>\n      <div class=\"wf-bar-col\">\n        <div class=\"wf-bar-track\"><div class=\"wf-bar-fill\" style=\"width:${r.barW}%;background:${barColor};\"></div></div>\n      </div>\n      <div class=\"wf-amount\" style=\"color:${amtColor};\">${r.amount}</div>\n    </div>`;\n}).join(\"\");\n\n// CHANGED: Qual cards — removed special 5th-item grid span handling\nconst qualCardsHtml = PILLAR_ORDER.map((k) => {\n  const label = pillarInsights[k]?.pillarLabel ?? PILLAR_LABELS[k] ?? k;\n  const band  = pillarInsights[k]?.bandLabel ?? \"—\";\n  const score = pillarInsights[k]?.score ?? pillarScores[k] ?? 0;\n  const title = pillarInsights[k]?.title ?? \"—\";\n  const body  = pillarInsights[k]?.body  ?? \"—\";\n  const c     = tl(band);\n  return `\n    <div class=\"qual-item\">\n      <div class=\"qual-head-row\">\n        <div>\n          <div class=\"qual-pillar-label\">${label}</div>\n          <div class=\"qual-title\">${title}</div>\n        </div>\n        <div class=\"qual-score-pill\">\n          <div class=\"qual-score-num\" style=\"color:${c};\">${Number(score).toFixed(1)}<span class=\"qual-score-den\">/10</span></div>\n          <div class=\"qual-band-pill\"><span class=\"q-dot\" style=\"background:${c};\"></span>${band}</div>\n        </div>\n      </div>\n      <div class=\"qual-body\">${body}</div>\n    </div>`;\n}).join(\"\");\n\nconst html = `<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"/>\n  <title>HumTech — ${company}</title>\n  <style>\n    :root {\n      --navy:  #193050;\n      --bg:    #DFE2E8;\n      --card:  #ffffff;\n      --muted: rgba(25,48,80,0.65);\n      --faint: rgba(25,48,80,0.10);\n      --shadow: 0 2px 16px rgba(15,23,42,0.07);\n      --tl-red:   #C0392B;\n      --tl-amber: #D48C22;\n      --tl-green: #1E7D4B;\n    }\n    * { box-sizing:border-box; margin:0; padding:0; }\n    body { font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,sans-serif; background:var(--bg); color:var(--navy); font-size:13px; line-height:1.5; -webkit-print-color-adjust:exact; print-color-adjust:exact; }\n    .page { max-width:880px; margin:0 auto; padding:24px 20px 40px; display:flex; flex-direction:column; gap:12px; }\n\n    /* HEADER */\n    .header { background:var(--navy); border-radius:18px; padding:26px 32px 26px; position:relative; overflow:hidden; display:flex; justify-content:space-between; align-items:flex-start; gap:24px; }\n    .header::before { content:\"\"; position:absolute; right:-50px; top:-50px; width:260px; height:260px; background:radial-gradient(circle,rgba(61,178,221,0.20) 0%,transparent 68%); border-radius:50%; pointer-events:none; }\n    .header::after  { content:\"\"; position:absolute; left:-30px; bottom:-40px; width:180px; height:180px; background:radial-gradient(circle,rgba(216,183,67,0.14) 0%,transparent 70%); border-radius:50%; pointer-events:none; }\n    .header-left { position:relative; z-index:2; max-width:460px; }\n    .header-brand { font-size:9.5px; font-weight:700; letter-spacing:0.22em; text-transform:uppercase; color:#3DB2DD; margin-bottom:6px; }\n    .header-title { font-size:20px; font-weight:800; color:#fff; line-height:1.15; letter-spacing:-0.2px; }\n    .header-sub { margin-top:6px; font-size:11.5px; color:rgba(255,255,255,0.50); }\n    .header-accent { margin-top:16px; height:3px; width:160px; border-radius:99px; background:linear-gradient(90deg,#D8B743,#3DB2DD,#6BB790); }\n    .header-right { position:relative; z-index:2; flex-shrink:0; text-align:right; display:flex; flex-direction:column; align-items:flex-end; gap:3px; }\n    .header-company { font-size:14px; font-weight:700; color:#fff; }\n    .header-meta { font-size:11px; color:rgba(255,255,255,0.50); }\n    .score-block { margin-top:14px; display:flex; align-items:baseline; gap:6px; justify-content:flex-end; }\n    .score-num { font-size:48px; font-weight:900; line-height:1; letter-spacing:-2px; }\n    .score-den { font-size:14px; color:rgba(255,255,255,0.40); }\n    .score-band { margin-top:6px; display:inline-flex; align-items:center; gap:6px; background:rgba(255,255,255,0.10); border:1px solid rgba(255,255,255,0.16); border-radius:6px; padding:4px 10px; font-size:11px; font-weight:700; color:rgba(255,255,255,0.88); letter-spacing:0.03em; }\n    .band-pip { width:7px; height:7px; border-radius:50%; }\n\n    /* CARD */\n    .card { background:var(--card); border-radius:16px; border:1px solid rgba(25,48,80,0.08); box-shadow:var(--shadow); overflow:hidden; }\n    .card-head { padding:16px 22px 14px; border-bottom:1px solid var(--faint); display:flex; align-items:baseline; gap:10px; }\n    .card-title { font-size:11px; font-weight:800; letter-spacing:0.14em; text-transform:uppercase; color:rgba(25,48,80,0.45); }\n    .card-sub { font-size:12px; color:rgba(25,48,80,0.50); font-weight:400; }\n\n    /* RADAR */\n    .radar-full { padding:20px 22px 0; display:flex; justify-content:center; }\n    .radar-img { width:100%; max-width:520px; height:auto; display:block; border-radius:8px; }\n\n    /* PILLARS */\n    .pillar-stat-grid { display:grid; grid-template-columns:repeat(5,1fr); border-top:1px solid var(--faint); margin-top:16px; }\n    .pillar-stat { padding:16px 18px; border-right:1px solid var(--faint); display:flex; flex-direction:column; gap:6px; }\n    .pillar-stat:last-child { border-right:none; }\n    .ps-score { font-size:28px; font-weight:900; line-height:1; letter-spacing:-0.5px; }\n    .ps-den { font-size:11px; font-weight:500; color:var(--muted); margin-left:1px; }\n    .ps-band { display:inline-flex; align-items:center; gap:5px; font-size:10px; font-weight:700; color:var(--navy); background:rgba(25,48,80,0.05); border:1px solid var(--faint); border-radius:99px; padding:2px 8px; width:fit-content; }\n    .ps-dot { width:5px; height:5px; border-radius:50%; flex-shrink:0; }\n    .ps-name { font-size:11px; font-weight:600; color:var(--navy); line-height:1.3; margin-top:2px; }\n    .ps-desc { font-size:10.5px; color:var(--muted); line-height:1.45; }\n\n    /* WATERFALL */\n    .wf-row { display:grid; grid-template-columns:26px 1fr 1fr 96px; align-items:center; gap:0 14px; padding:12px 22px; border-top:1px solid var(--faint); }\n    .wf-icon-col { display:flex; align-items:center; justify-content:center; }\n    .wf-circle { width:22px; height:22px; border-radius:50%; display:flex; align-items:center; justify-content:center; font-size:11px; font-weight:700; flex-shrink:0; }\n    .wf-label { font-size:12.5px; font-weight:600; color:var(--navy); }\n    .wf-desc  { font-size:11px; color:var(--muted); margin-top:2px; }\n    .wf-bar-col { display:flex; align-items:center; }\n    .wf-bar-track { flex:1; height:8px; background:rgba(25,48,80,0.07); border-radius:99px; overflow:hidden; }\n    .wf-bar-fill { height:100%; border-radius:99px; }\n    .wf-amount { font-size:14px; font-weight:800; text-align:right; white-space:nowrap; }\n    .wf-summary-strip { display:grid; grid-template-columns:repeat(3,1fr); border-top:1px solid var(--faint); }\n    .wf-stat { padding:14px 20px; border-right:1px solid var(--faint); }\n    .wf-stat:last-child { border-right:none; }\n    .wf-stat-lbl { font-size:9.5px; font-weight:700; letter-spacing:0.12em; text-transform:uppercase; color:rgba(25,48,80,0.45); margin-bottom:4px; }\n    .wf-stat-val { font-size:20px; font-weight:900; color:var(--navy); line-height:1; }\n    .wf-stat-val.loss { color:var(--tl-red); }\n\n    /* CHANGED: QUAL GRID — newspaper column layout */\n    .qual-grid { column-count:2; column-gap:0; }\n    .qual-item { padding:18px 22px; border-top:1px solid var(--faint); break-inside:avoid; -webkit-column-break-inside:avoid; }\n    .qual-head-row { display:flex; align-items:flex-start; justify-content:space-between; gap:10px; margin-bottom:8px; }\n    .qual-pillar-label { font-size:9.5px; font-weight:700; letter-spacing:0.13em; text-transform:uppercase; color:var(--muted); margin-bottom:3px; }\n    .qual-title { font-size:13px; font-weight:800; color:var(--navy); line-height:1.3; }\n    .qual-score-pill { display:flex; flex-direction:column; align-items:flex-end; gap:4px; flex-shrink:0; }\n    .qual-score-num { font-size:20px; font-weight:900; line-height:1; }\n    .qual-score-den { font-size:9.5px; color:var(--muted); margin-left:1px; }\n    .qual-band-pill { display:inline-flex; align-items:center; gap:5px; border-radius:99px; padding:2px 8px; font-size:9.5px; font-weight:700; border:1px solid var(--faint); background:rgba(25,48,80,0.03); white-space:nowrap; }\n    .q-dot { width:5px; height:5px; border-radius:50%; }\n    .qual-body { font-size:12px; color:var(--muted); line-height:1.65; }\n\n    .pillar-row, .wf-row, .qual-item { page-break-inside:avoid; break-inside:avoid; }\n    @page { margin:20px; }\n  </style>\n</head>\n<body>\n<div class=\"page\">\n\n  <div class=\"header\">\n    <div class=\"header-left\">\n      <div class=\"header-brand\">HumTech.ai</div>\n      <div class=\"header-title\">AI & Operations Maturity Scorecard</div>\n      <div class=\"header-sub\">A diagnostic snapshot of revenue leakage, operational drag, and AI readiness across your business.</div>\n      <div class=\"header-accent\"></div>\n    </div>\n    <div class=\"header-right\">\n      <div class=\"header-company\">${company}</div>\n      <div class=\"header-meta\">${email}</div>\n      <div class=\"header-meta\">${submitted}</div>\n      <div class=\"score-block\">\n        <span class=\"score-num\" style=\"color:${overallColor};\">${overallDisplay}</span>\n        <span class=\"score-den\">/ 10</span>\n      </div>\n      <div class=\"score-band\">\n        <span class=\"band-pip\" style=\"background:${overallColor};\"></span>\n        ${overallBand}\n      </div>\n    </div>\n  </div>\n\n  <div class=\"card\">\n    <div class=\"card-head\">\n      <span class=\"card-title\">Your Operating Shape</span>\n      <span class=\"card-sub\">Five pillars that drive revenue capture and operational efficiency</span>\n    </div>\n    <div class=\"radar-full\">\n      ${radarUrl\n        ? `<img class=\"radar-img\" src=\"${radarUrl}\" alt=\"Radar chart\" />`\n        : `<div style=\"width:100%;max-width:520px;aspect-ratio:16/9;display:flex;align-items:center;justify-content:center;color:var(--muted);font-size:12px;border:1px dashed var(--faint);border-radius:8px;margin:0 auto;\">Radar chart unavailable</div>`}\n    </div>\n    <div class=\"pillar-stat-grid\">\n      ${pillarRowsHtml}\n    </div>\n  </div>\n\n  <div class=\"card\">\n    <div class=\"card-head\">\n      <span class=\"card-title\">Revenue Waterfall</span>\n      <span class=\"card-sub\">Estimated monthly pipeline flow and leakage</span>\n    </div>\n    ${wfRowsHtml}\n    <div class=\"wf-summary-strip\">\n      <div class=\"wf-stat\">\n        <div class=\"wf-stat-lbl\">Total Monthly Leakage</div>\n        <div class=\"wf-stat-val loss\">${money(totalLoss)}</div>\n      </div>\n      <div class=\"wf-stat\">\n        <div class=\"wf-stat-lbl\">Capture Rate</div>\n        <div class=\"wf-stat-val\">${pct(wf.captureRatePercent)}</div>\n      </div>\n      <div class=\"wf-stat\">\n        <div class=\"wf-stat-lbl\">Biggest Leak Stage</div>\n        <div class=\"wf-stat-val\" style=\"font-size:16px;\">${stg(wf.biggestLeakStage)}</div>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"card\">\n    <div class=\"card-head\">\n      <span class=\"card-title\">What This Means</span>\n      <span class=\"card-sub\">Pillar insights translated into commercial impact</span>\n    </div>\n    <div class=\"qual-grid\">\n      ${qualCardsHtml}\n    </div>\n  </div>\n\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { source: html } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,336],"id":"8d01012c-1abc-4b8c-84a4-7ede97702cca","name":"Build PDF HTML"},{"parameters":{"method":"POST","url":"https://api.pdfshift.io/v3/convert/pdf","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": {{ JSON.stringify($json.source) }},\n  \"landscape\": false,\n  \"use_print\": false\n}\n","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1872,432],"id":"ece0b50a-85a6-4b5b-881d-af4268805955","name":"PDFShift","credentials":{"httpBasicAuth":{"id":"mkD2t64uvkNhhUCe","name":"pdfshift"}}},{"parameters":{"jsCode":"/**\n * HumTech Score Assessment – UPDATED VERSION\n *\n * Inputs:\n *   $json.rawAnswers -> { qid: \"A\" | \"B\" | \"C\" | \"D\" | \"E\" | \"F\" }\n *   $json.freeText   -> { qid: string }  (optional; for Q16 notes)\n *\n * Outputs:\n *   scoring.radar       -> 5 pillars (0–10)\n *   scoring.pillars     -> same values\n *   scoring.overall     -> score10, percent, maturityBand\n *   scoring.informative -> Q13–Q16 (unscored)\n */\n\n// ---------------------------\n// Inputs\n// ---------------------------\nconst raw = $json.rawAnswers || {};\n\n// ---------------------------\n// 1) Question scoring (Q1–Q8, Q11–Q12 only, 0–5)  // CHANGED: was Q1-Q12, removed Q9+Q10\n// ---------------------------\nconst SCORE_0_TO_5 = {\n  // Q1\n  \"q1_engagement_method\": { A: 5, B: 4, C: 2, D: 3, E: 0 },\n\n  // Q2\n  \"q2_response_time\": { A: 5, B: 4, C: 3, D: 2, E: 0 },\n\n  // Q3\n  \"q3_247_booking\": { A: 5, B: 0 },\n\n  // Q4\n  \"q4_show_rate\": { A: 2, B: 3, C: 4, D: 5, E: 0 },\n\n  // Q5\n  \"q5_repetitive_manual_processes\": { A: 5, B: 4, C: 3, D: 2, E: 0 },\n\n  // Q6\n  \"q6_issue_detection\": { A: 2, B: 3, C: 4, D: 5 },\n\n  // Q7\n  \"q7_metric_tracking\": { A: 5, B: 4, C: 3, D: 2 },\n\n  // Q8 (now uses 1-5h / 5h+ ranges instead of 1-4h / 4h+)  // CHANGED: answer set from old Q9\n  \"q8_non_revenue_time\": { A: 5, B: 4, C: 3, D: 2, E: 0 },\n\n  // CHANGED: q9_repetitive_tasks_time REMOVED (merged into Q8)\n  // CHANGED: q10_kpi_tracking_quality REMOVED (duplicated Q7)\n\n  // Q11\n  \"q11_documents_and_signatures\": { A: 5, B: 4, C: 0 },\n\n  // Q12 (3 tiers: Advanced / Some / None)  // CHANGED: removed D (old \"Other\")\n  \"q12_current_situation\": { A: 5, B: 3, C: 1 }\n};\n\n// ---------------------------\n// 2) Final pillars (radar axes)\n// ---------------------------\nconst PILLARS = [\n  \"leadEngagementSpeed\",\n  \"appointmentReliabilityConversion\",\n  \"operationalFocusTimeEfficiency\",\n  \"systemsAutomationMaturity\",\n  \"revenueProtectionLeakageControl\"\n];\n\n// ---------------------------\n// 3) Question → pillar weights (UPDATED – Q9 + Q10 removed)  // CHANGED\n// ---------------------------\nconst QUESTION_WEIGHTS = {\n  \"q1_engagement_method\": {\n    leadEngagementSpeed: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  },\n  \"q2_response_time\": {\n    leadEngagementSpeed: 0.7,\n    revenueProtectionLeakageControl: 0.3\n  },\n  \"q3_247_booking\": {\n    leadEngagementSpeed: 0.4,\n    systemsAutomationMaturity: 0.6\n  },\n  \"q4_show_rate\": {\n    appointmentReliabilityConversion: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  },\n  \"q5_repetitive_manual_processes\": {\n    systemsAutomationMaturity: 1.0\n  },\n  \"q6_issue_detection\": {\n    systemsAutomationMaturity: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  },\n  \"q7_metric_tracking\": {\n    operationalFocusTimeEfficiency: 1.0\n  },\n  \"q8_non_revenue_time\": {\n    operationalFocusTimeEfficiency: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  },\n  // CHANGED: q9_repetitive_tasks_time REMOVED\n  // CHANGED: q10_kpi_tracking_quality REMOVED\n  \"q11_documents_and_signatures\": {\n    systemsAutomationMaturity: 0.7,\n    operationalFocusTimeEfficiency: 0.3\n  },\n  \"q12_current_situation\": {\n    systemsAutomationMaturity: 0.6,\n    revenueProtectionLeakageControl: 0.4\n  }\n};\n\n// ---------------------------\n// Helpers\n// ---------------------------\nfunction scoreQuestion0to5(qid, answerId) {\n  const map = SCORE_0_TO_5[qid];\n  if (!map) return 0;\n  const s = map[answerId];\n  return typeof s === \"number\" ? s : 0;\n}\n\nfunction to0to10(score0to5) {\n  return (score0to5 / 5) * 10;\n}\n\nfunction clamp0to10(v) {\n  return Math.max(0, Math.min(10, v));\n}\n\n// ---------------------------\n// 4) Compute pillar scores\n// ---------------------------\nconst pillarTotals = Object.fromEntries(PILLARS.map(p => [p, 0]));\nconst pillarWeights = Object.fromEntries(PILLARS.map(p => [p, 0]));\n\nconst expectedQids = Object.keys(QUESTION_WEIGHTS);\nconst missingQuestions = [];\n\nfor (const qid of expectedQids) {\n  const ans = raw[qid];\n  if (!ans) missingQuestions.push(qid);\n\n  const s0to5 = scoreQuestion0to5(qid, ans);\n  const s0to10 = to0to10(s0to5);\n\n  const weights = QUESTION_WEIGHTS[qid];\n  for (const [pillar, w] of Object.entries(weights)) {\n    pillarTotals[pillar] += s0to10 * w;\n    pillarWeights[pillar] += w;\n  }\n}\n\nconst pillars = {};\nfor (const pillar of PILLARS) {\n  const denom = pillarWeights[pillar] || 0;\n  const rawScore = denom ? pillarTotals[pillar] / denom : 0;\n  pillars[pillar] = clamp0to10(Math.round(rawScore * 10) / 10);\n}\n\n// Radar = same 5 pillars\nconst radar = { ...pillars };\n\n// ---------------------------\n// 5) Overall score (average of pillars, weighted by pillar importance)\n// ---------------------------\nconst PILLAR_IMPORTANCE = {\n  leadEngagementSpeed: 0.22,\n  appointmentReliabilityConversion: 0.22,\n  operationalFocusTimeEfficiency: 0.22,\n  systemsAutomationMaturity: 0.22,\n  revenueProtectionLeakageControl: 0.12\n};\n\nlet overallNumerator = 0;\nlet overallDenom = 0;\nfor (const p of PILLARS) {\n  const w = PILLAR_IMPORTANCE[p] || 0;\n  overallNumerator += (pillars[p] || 0) * w;\n  overallDenom += w;\n}\nconst overallScore10 = overallDenom ? overallNumerator / overallDenom : 0;\nconst overallScore10Rounded = clamp0to10(Math.round(overallScore10 * 10) / 10);\nconst overallPercent = Math.round((overallScore10Rounded / 10) * 100);\n\n// Bands (0–10)\nfunction bandFor(score10) {\n  if (score10 < 5.0) return \"Critical\";\n  if (score10 < 7.0) return \"Action Required\";\n  if (score10 < 9.0) return \"Average\";\n  return \"Optimised\";\n}\nconst maturityBand = bandFor(overallScore10Rounded);\n\n// ---------------------------\n// 6) Debug/QA (optional)\n// ---------------------------\nconst qa = {\n  missingQuestions,\n  expectedQids\n};\n\n// ---------------------------\n// 7) Informative-only answers (Q13–Q16)  // CHANGED: removed q15SolutionType\n// ---------------------------\nconst informative = {\n  q13DesiredOutcome: (() => {\n    const v = raw[\"q13_desired_outcome\"];\n    if (Array.isArray(v)) return v;\n    if (typeof v === \"string\" && v) return [v];\n    return null;\n  })(),\n  q14AiBarriers: (() => {\n    const v = raw[\"q14_ai_barriers\"];\n    if (Array.isArray(v)) return v;\n    if (typeof v === \"string\" && v) return [v];\n    return null;\n  })(),\n  // CHANGED: q15SolutionType REMOVED (q15_solution_type deleted – covered by q14_ai_barriers)\n  q16AdditionalNotes: ($json.freeText && $json.freeText[\"q16_additional_notes\"]) || null\n};\n\n// ---------------------------\n// 8) Return\n// ---------------------------\nreturn [\n  {\n    json: {\n      ...$json,\n      scoring: {\n        radar,\n        pillars,\n        overall: {\n          score10: overallScore10Rounded,\n          percent: overallPercent,\n          maturityBand\n        },\n        informative,\n        qa\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,336],"id":"1c585e36-3a1b-4c2d-919e-9bc757d65267","name":"Question Scoring / pillar weight"},{"parameters":{"jsCode":"/**\n * Banding + Qualitative Copy Mapping (One Node) — with Traffic Light Colours\n *\n * Expects:\n *   $json.scoring.pillars = {\n *     leadEngagementSpeed: 0-10,\n *     appointmentReliabilityConversion: 0-10,\n *     operationalFocusTimeEfficiency: 0-10,\n *     systemsAutomationMaturity: 0-10,\n *     revenueProtectionLeakageControl: 0-10\n *   }\n *\n * Produces:\n *   $json.banding = { bandsMeta, overallBand }\n *   $json.pillarInsights = {\n *     [pillarKey]: { score, bandKey, bandLabel, bandMeaning, title, body, bandRange, bandColor }\n *   }\n */\n\nconst pillars = $json?.scoring?.pillars || {};\nconst overall10 = $json?.scoring?.overall?.score10 ?? null;\n\n// ---------------------------\n// 1) Band definitions (LOCKED) + Traffic Light Colours\n// ---------------------------\nconst BAND_META = {\n  critical: {\n    label: \"Critical\",\n    range: \"0.0–4.9\",\n    meaning: \"Structural blockers are actively limiting revenue, efficiency, or scale.\",\n    color: \"#C62828\" // red\n  },\n  action_required: {\n    label: \"Action Required\",\n    range: \"5.0–6.9\",\n    meaning: \"Core foundations exist, but execution is inconsistent or fragile.\",\n    color: \"#C62828\" // red\n  },\n  average: {\n    label: \"Average\",\n    range: \"7.0–8.9\",\n    meaning: \"Strong operating shape with clear leverage points.\",\n    color: \"#F9A825\" // amber\n  },\n  optimised: {\n    label: \"Optimised\",\n    range: \"9.0–10.0\",\n    meaning: \"Systemic advantage.\",\n    color: \"#1B5E20\" // dark green\n  }\n};\n\nfunction bandScore(score) {\n  const s = typeof score === \"number\" ? score : 0;\n  if (s >= 9.0) return \"optimised\";\n  if (s >= 7.0) return \"average\";\n  if (s >= 5.0) return \"action_required\";\n  return \"critical\";\n}\n\n// ---------------------------\n// 2) Display labels for pillars (for HTML)\n// ---------------------------\nconst PILLAR_LABELS = {\n  leadEngagementSpeed: \"Lead Engagement & Efficacy\",\n  appointmentReliabilityConversion: \"Appointment Reliability & Conversion\",\n  operationalFocusTimeEfficiency: \"Operational Focus & Time Efficiency\",\n  systemsAutomationMaturity: \"Systems & Automation Maturity\",\n  revenueProtectionLeakageControl: \"Revenue Protection & Leakage Control\"\n};\n\n// ---------------------------\n// 3) Qualitative copy mapping\n// NOTE: keys updated to match new band keys\n// ---------------------------\nconst QUAL_COPY = {\n  leadEngagementSpeed: {\n    critical: {\n      title: \"Slow engagement is costing you live demand\",\n      body: \"The evidence base is clear - an 8x conversion drop occurs after 5 minutes lead wait time, and every 10 minutes after the first minute presents a 400% conversion probability drop per additional increment. Data from Havard Business Review, which reviewed over 15,000 companies and 5 years’ worth of data, shows that you have 60 seconds to conversationally engage new clients. Notably, this does not include an automated message. Anything besides instantaneous two-way dialogue is a significant financial burden to any business.\"\n    },\n    action_required: {\n      title: \"Engagement exists, but speed varies\",\n      body: \"Some automated or semi-automated engagement is in place, but response speed is inconsistent. Leads may be contacted promptly at certain times, but gaps still exist. This creates uneven performance and prevents the business from fully capitalising on inbound demand.\"\n    },\n    average: {\n      title: \"Fast engagement supports stronger outcomes\",\n      body: \"Most new leads are engaged quickly, helping preserve momentum and improve early-stage conversion. Speed to lead is no longer a major constraint, although there may still be edge cases where demand is missed outside core hours or peak volume.\"\n    },\n    optimised: {\n      title: \"Speed to lead is a competitive advantage\",\n      body: \"New enquiries are engaged almost immediately, regardless of time or channel. This protects revenue at the point of entry and materially improves conversion by meeting prospects while intent is highest.\"\n    }\n  },\n\n  appointmentReliabilityConversion: {\n    critical: {\n      title: \"High appointment drop-off is draining capacity\",\n      body: \"A large proportion of booked appointments fail to attend or convert into meaningful conversations. This points to issues with engagement speed, qualification, expectation-setting, or follow-up, resulting in wasted sales effort and unpredictable outcomes. Presently, your customers have not ‘bought in’ to your business and lack commitment and/or trust. This should be addressed as a priority as it will hinder CAC and blunt scaling viability.\"\n    },\n    action_required: {\n      title: \"Conversion works, but is effort-dependent\",\n      body: \"Appointments are often attended, but reliability depends heavily on manual effort or individual performance. This limits scalability and makes conversion performance difficult to forecast consistently.\"\n    },\n    average: {\n      title: \"Appointments convert reliably\",\n      body: \"Most booked appointments are attended and progress as expected. Qualification and engagement are effective enough to support consistent conversion, reducing wasted time and improving sales efficiency.\"\n    },\n    optimised: {\n      title: \"Conversion is predictable and controlled\",\n      body: \"Appointment attendance and conversion are highly reliable, driven by systems rather than manual chasing. This creates predictable revenue flow and removes a major source of operational waste.\"\n    }\n  },\n\n  operationalFocusTimeEfficiency: {\n    critical: {\n      title: \"Too much time is spent on non-core work\",\n      body: \"A significant portion of team time is absorbed by repetitive admin, follow-ups, and manual handling. In business, the adage ‘time is money’ rings true, as we pay staff by the hour. Poor time deflection strategy reduces focus on revenue-generating activity and increases operational drag as the business grows. Burnout & turnover is a risk - 56% of staff report burnout from repetitive tasks; morale tanks, driving 2x higher churn vs. automated operational processes. Further, manual ops require headcount to scale linearly—growth stalls as data volume explodes.\"\n    },\n    action_required: {\n      title: \"Some efficiency gains, but drag remains\",\n      body: \"Certain tasks have been streamlined, but teams are still pulled away from their primary roles. Time leakage persists, limiting capacity and slowing overall execution.\"\n    },\n    average: {\n      title: \"Teams are mostly focused on high-value work\",\n      body: \"Most low-value or repetitive tasks have been reduced or automated. Teams spend the majority of their time on core responsibilities, supporting healthier workloads and more efficient growth.\"\n    },\n    optimised: {\n      title: \"Time is deliberately protected\",\n      body: \"Operational effort is tightly aligned to value creation. Automation and process design minimise distraction, allowing teams to focus almost entirely on high-impact work without increasing headcount.\"\n    }\n  },\n\n  systemsAutomationMaturity: {\n    critical: {\n      title: \"Manual processes create risk and friction\",\n      body: \"Core workflows rely on manual handling or disconnected tools. This increases error risk, slows execution, and limits visibility across performance, making operations harder to manage as volume increases. While majority processes remain manual, scaling is not advised, as unnecessary headcount and error rate correlate positively with growth unless remedied by antecedent action. Competitors are currently implementing manual process reduction strategies as a priority in 2026.\"\n    },\n    action_required: {\n      title: \"Automation exists, but isn’t joined up\",\n      body: \"Some systems and tools are in place, but they don’t work together cleanly. Manual intervention is still required to keep processes moving, reducing the overall impact of automation.\"\n    },\n    average: {\n      title: \"Systems support day-to-day operations\",\n      body: \"Key workflows are automated and reasonably well integrated. Data, documents, and handoffs flow through defined systems, improving consistency and operational visibility.\"\n    },\n    optimised: {\n      title: \"Automation underpins how the business runs\",\n      body: \"Systems are intentionally designed and fully integrated. Automation reduces risk, improves speed, and provides clear oversight across operations, forming a strong foundation for scale.\"\n    }\n  },\n\n  revenueProtectionLeakageControl: {\n    critical: {\n      title: \"Revenue loss is largely unmanaged\",\n      body: \"Opportunities are being lost across the funnel without clear visibility into where or why. This makes revenue unpredictable and limits the ability to address the underlying causes of leakage. It’s important to understand that we cannot manage what we do not measure. Simple, comprehensive key metric dashboards should be present to provide domain-specific diagnostics in real time before deleterious impact is inevitable.\"\n    },\n    action_required: {\n      title: \"Leakage is visible, but not fully controlled\",\n      body: \"Some drop-off points are understood, but controls are inconsistent. Revenue protection relies on manual monitoring rather than systemic safeguards, leaving avoidable value on the table.\"\n    },\n    average: {\n      title: \"Most leakage is actively managed\",\n      body: \"The business has good visibility into where opportunities are lost and takes steps to reduce avoidable drop-off. This improves conversion efficiency and protects revenue without increasing acquisition spend.\"\n    },\n    optimised: {\n      title: \"Revenue is structurally protected\",\n      body: \"Systems and processes are designed to minimise leakage at each stage of the journey. Opportunities are captured, qualified, and progressed consistently, creating more predictable and resilient revenue outcomes.\"\n    }\n  }\n};\n\n// ---------------------------\n// 4) Build pillarInsights output\n// ---------------------------\nconst pillarInsights = {};\n\nfor (const [pillarKey, score] of Object.entries(pillars)) {\n  if (!PILLAR_LABELS[pillarKey]) continue;\n\n  const bandKey = bandScore(score);\n  const meta = BAND_META[bandKey];\n\n  const copyBucket = QUAL_COPY[pillarKey] || {};\n  const copy = copyBucket[bandKey] || { title: \"\", body: \"\" };\n\n  pillarInsights[pillarKey] = {\n    pillarKey,\n    pillarLabel: PILLAR_LABELS[pillarKey],\n    score: typeof score === \"number\" ? Math.round(score * 10) / 10 : 0,\n\n    bandKey,\n    bandLabel: meta.label,\n    bandMeaning: meta.meaning,\n    bandRange: meta.range,\n\n    bandColor: meta.color,\n\n    title: copy.title,\n    body: copy.body\n  };\n}\n\n// ---------------------------\n// 5) Overall band (based on overall score10 if present)\n// ---------------------------\nlet overallBand = null;\nif (typeof overall10 === \"number\") {\n  const k = bandScore(overall10);\n  overallBand = {\n    score10: Math.round(overall10 * 10) / 10,\n    bandKey: k,\n    bandLabel: BAND_META[k].label,\n    bandMeaning: BAND_META[k].meaning,\n    bandRange: BAND_META[k].range,\n    bandColor: BAND_META[k].color\n  };\n}\n\n// ---------------------------\n// 6) Return enriched JSON\n// ---------------------------\nreturn [\n  {\n    json: {\n      ...$json,\n      banding: {\n        bandsMeta: BAND_META,\n        overallBand\n      },\n      pillarInsights\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,336],"id":"c6c4732b-282b-4e7b-9555-ceae9d2587cc","name":"banding / qual mapping"},{"parameters":{"jsCode":"// Resolve upstream data\nconst edit = $('Edit Fields').first().json;\nconst banding = $('banding / qual mapping').first().json;\n\nconst to = edit.email || edit.body?.contact?.email || \"\";\nconst firstNameRaw = edit.name || edit.body?.contact?.name || \"there\";\nconst firstName = String(firstNameRaw).trim().split(\" \")[0] || \"there\";\n\nconst pdf = (($json.pdf_base64 || \"\") + \"\")\n  .replace(/^data:application\\/pdf;base64,/, \"\");\n\n// Build TOP_3_FINDINGS from lowest pillar scores\nconst pillarLabels = {\n  leadEngagementSpeed: \"Lead Engagement & Efficacy\",\n  appointmentReliabilityConversion: \"Appointment Reliability & Conversion\",\n  operationalFocusTimeEfficiency: \"Operational Focus & Time Efficiency\",\n  systemsAutomationMaturity: \"Systems & Automation Maturity\",\n  revenueProtectionLeakageControl: \"Revenue Protection & Leakage Control\",\n};\n\nconst scores = banding?.scoring?.pillars || {};\nconst insights = banding?.pillarInsights || {};\n\nconst top3 = Object.entries(scores)\n  .map(([key, score]) => {\n    const numericScore = typeof score === \"number\" ? score : 0;\n    const label = insights[key]?.pillarLabel || pillarLabels[key] || key;\n    const bandLabel = insights[key]?.bandLabel || \"\";\n    return {\n      label,\n      score: numericScore,\n      bandLabel,\n    };\n  })\n  .sort((a, b) => a.score - b.score)\n  .slice(0, 3);\n\nconst top3FindingsHtml = top3.length\n  ? `<ul>${top3\n      .map(\n        (f) =>\n          `<li><strong>${f.label}</strong> — ${f.score.toFixed(1)}/10${f.bandLabel ? ` (${f.bandLabel})` : \"\"}</li>`\n      )\n      .join(\"\")}</ul>`\n  : \"<p>We identified several operational constraints that may be impacting revenue.</p>\";\n\nconst body = {\n  from: \"HumTech.ai <hello@humtech.ai>\",\n  to,\n  bcc: [\"hello@humtech.ai\"],\n  subject: \"Your HumTech AI Diagnostic\",\n  html: `\n    <p>Hi ${firstName},</p>\n\n    <p>Here’s a copy of your <strong>HumTech AI Diagnostic</strong>.</p>\n\n    <p>Your diagnostic flagged the following areas which may be adversely impacting revenue:</p>\n    ${top3FindingsHtml}\n\n    <p><strong>Your next step:</strong> Reply to <strong>Ariyah</strong>, our friendly AI employee, via SMS. She’ll check our calendar and schedule a mutually convenient time for a call.</p>\n\n    <p><strong>OR</strong> reply to this email with <strong>3 dates/times</strong> when you have at least 30 minutes available.</p>\n\n    <p>Please be aware: the purpose of this call is to ensure that we’re a good fit for each other, and to confirm that there are clear AI revenue uplift solutions.</p>\n\n    <p>We provide direct, on-demand 1:1 access to your own team of AI specialists, with instant response times and custom-made solutions. Consequently, our service is in high demand, and we have limited spaces due to the time commitment we allocate per client.</p>\n\n    <p>Each quarter we onboard no more than 3 businesses, and we must be selective. If we feel that we may not be a good fit for you on your consultation call, we won’t be able to progress at this time. However, we may make recommendations which would allow us to work together at a later stage.</p>\n\n    <p>Once our quarterly intake is full, we will add you to the wait list for the following quarter and reach out once we have capacity to help.</p>\n\n    <p>Thank you for your interest, and we look forward to speaking with you soon.</p>\n\n    <p>\n      Chris Silver<br>\n      Strategic Director<br>\n      HumTech<br>\n      <a href=\"mailto:hello@humtech.ai\">hello@humtech.ai</a>\n    </p>\n\n    <p><strong>Intake spaces remaining Q1 2026: 2</strong></p>\n  `,\n  attachments: [\n    {\n      filename: \"HumTech-Assessment-Report.pdf\",\n      content: pdf,\n      content_type: \"application/pdf\",\n    },\n  ],\n};\n\nreturn [{ json: { resend_raw: JSON.stringify(body) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,432],"id":"8de44be1-07f6-4086-995b-5737766c8172","name":"email"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"humtech","mode":"list","cachedResultName":"humtech"},"table":{"__rl":true,"value":"assessment_results","mode":"list","cachedResultName":"assessment_results"},"columns":{"mappingMode":"defineBelow","value":{"submission_id":"={{ $('Edit Fields').item.json.body.submission_id }}","created_at":"={{ $('Edit Fields').item.json.body.timestamp }}","email":"={{ $('Edit Fields').item.json.body.contact.email }}","company":"={{ $('Edit Fields').item.json.body.contact.company }}","results":"={{ {\n  submission_id: $json.submission_id,\n  submitted_at: $json.submitted_at,\n  contact: { email: $json.email, company: $json.company },\n  scoring: $json.scoring,\n  banding: $json.banding,\n  pillarInsights: $json.pillarInsights,\n  revenueWaterfall: $json.revenueWaterfall,\nqualification: $json.qualification,\n  radarUrl: $json.radarUrl\n} }}","results_html":"={{ $json.source }}"},"matchingColumns":["submission_id"],"schema":[{"id":"submission_id","displayName":"submission_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"results","displayName":"results","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"results_html","displayName":"results_html","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1488,160],"id":"40508803-ee36-45e1-bfc4-ce0c4edb5dc7","name":"Postgres results object","credentials":{"postgres":{"id":"f5yl1NLpxYkVnO1v","name":"humtech_postgres_prod"}}},{"parameters":{"jsCode":"const raw = $json.rawAnswers || {};\nconst q = $json.qualification || $json.body?.qualification || {};\nconst contact = $json.contact || $json.body?.contact || {};\n\n// Qualification from frontend answer IDs\nconst leadVolumeMid = { A: 30, B: 125, C: 350, D: 600, E: 125 };\nconst dealValueMid = { A: 300, B: 1250, C: 6000, D: 15000, E: 1250 };\n\nconst grossRevenueAnnualMid = {\n  A: 60000000, // 50m+\n  B: 30000000, // 10-50m\n  C: 7500000,  // 5-10m\n  D: 4000000,  // 3-5m\n  E: 2000000,  // <3m\n  F: null      // unknown\n};\n\nconst grossMarginMid = {\n  A: 0.90,\n  B: 0.80,\n  C: 0.60,\n  D: 0.40,\n  E: 0.25,\n  F: null\n};\n\n// Fallbacks if qualification missing\nconst defaultLeadVolume = contact.revenueRange5to500m === \"yes\" ? 125 : 30;\nconst defaultDealValue = contact.revenueRange5to500m === \"yes\" ? 6000 : 1250;\n\nconst leadVolume = leadVolumeMid[q.leadVolume] ?? defaultLeadVolume;\nconst avgDealValue = dealValueMid[q.dealValue] ?? defaultDealValue;\nconst estimatedAnnualRevenue = grossRevenueAnnualMid[q.estimatedGrossRevenue] ?? null;\nconst estimatedGrossMargin = grossMarginMid[q.estimatedGrossMargin] ?? null;\n\n// Stage rates from existing scored answers\nconst ghostRateMap = { A: 0.10, B: 0.20, C: 0.35, D: 0.30, E: 0.35 };\nconst showRateMap = { A: 0.30, B: 0.50, C: 0.70, D: 0.85, E: 0.70 };\nconst conversionRateMap = { A: 0.80, B: 0.60, C: 0.35, D: 0.50 };\n\nconst ghostRate = ghostRateMap[raw.q1_engagement_method] ?? 0.35;\nconst showRate = showRateMap[raw.q4_show_rate] ?? 0.70;\nconst conversionRate = conversionRateMap[raw.q12_current_situation] ?? 0.55;\n\nconst pipeline = leadVolume * avgDealValue;\nconst engagementLoss = pipeline * ghostRate;\nconst afterEngagement = pipeline - engagementLoss;\n\nconst attendanceLoss = afterEngagement * (1 - showRate);\nconst afterAttendance = afterEngagement - attendanceLoss;\n\nconst conversionLoss = afterAttendance * (1 - conversionRate);\nconst closedValue = afterAttendance - conversionLoss;\n\nconst totalLoss = engagementLoss + attendanceLoss + conversionLoss;\nconst captureRatePercent = pipeline > 0 ? (closedValue / pipeline) * 100 : 0;\n\nconst biggestLeakStage = [\n  { stage: \"engagement\", value: engagementLoss },\n  { stage: \"attendance\", value: attendanceLoss },\n  { stage: \"conversion\", value: conversionLoss },\n].sort((a, b) => b.value - a.value)[0]?.stage || \"engagement\";\n\nconst recommendedLeadProduct =\n  biggestLeakStage === \"engagement\"\n    ? \"speed_to_lead\"\n    : biggestLeakStage === \"attendance\"\n    ? \"attendance_automation\"\n    : \"conversion_followup\";\n\n// Extra commercial lens using gross margin question\nconst grossProfitPipeline = estimatedGrossMargin == null ? null : pipeline * estimatedGrossMargin;\nconst grossProfitAtRisk = estimatedGrossMargin == null ? null : totalLoss * estimatedGrossMargin;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      revenueWaterfall: {\n        leadVolume,\n        avgDealValue,\n        estimatedAnnualRevenue,\n        estimatedGrossMargin,\n        pipeline: Math.round(pipeline),\n        engagementLoss: Math.round(engagementLoss),\n        attendanceLoss: Math.round(attendanceLoss),\n        conversionLoss: Math.round(conversionLoss),\n        closedValue: Math.round(closedValue),\n        totalLoss: Math.round(totalLoss),\n        captureRatePercent: Math.round(captureRatePercent * 10) / 10,\n        biggestLeakStage,\n        grossProfitPipeline: grossProfitPipeline == null ? null : Math.round(grossProfitPipeline),\n        grossProfitAtRisk: grossProfitAtRisk == null ? null : Math.round(grossProfitAtRisk),\n      },\n      qualification: {\n        ...q,\n        estimated_monthly_pipeline: Math.round(pipeline),\n        estimated_monthly_loss: Math.round(totalLoss),\n        capture_rate_percent: Math.round(captureRatePercent),\n        biggest_leak_stage: biggestLeakStage,\n        recommended_lead_product: recommendedLeadProduct,\n        decision_maker: true,\n      },\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,336],"id":"697dc8b9-7335-4f52-9c98-6af1fc8ce2b3","name":"Revenue Waterfall / Qualification"},{"parameters":{"respondWith":"text","responseBody":"={\n  \"submission_id\": \"={{ $('Edit Fields').item.json.body.submission_id }}\"\n}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1408,432],"id":"dff8ce59-8a5f-4ca1-8e08-4b795ba79ed7","name":"Respond to Webhook with sub_id"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/hooks/V7m7dlgTERFjn0t4soSv/webhook-trigger/0086d659-e529-4cc4-8734-23af62880b13","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.ghl_payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1824,672],"id":"80ec6222-a29a-4f7a-9766-b160d6b85c20","name":"send to GHL"},{"parameters":{"jsCode":"// Build GHL Payload (Code node)\n\nconst edit = $('Edit Fields').first().json;\nconst scoring = $('Question Scoring / pillar weight').first().json;\nconst waterfall = $('Revenue Waterfall / Qualification').first().json;\n\nconst allAnswers = edit.answers || [];\n\n// Split full name -> first / last (for GHL automations)\nconst fullName = (edit.name || '').trim();\nconst nameParts = fullName.split(/\\s+/).filter(Boolean);\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.length > 1 ? nameParts.slice(1).join(' ') : '';\n\n// Full human-readable lines (question + selected answer sentence)\nconst answerLines = allAnswers.map((a) => {\n  const answerText = Array.isArray(a.answerText)\n    ? a.answerText.join('; ')\n    : (a.answerText || '');\n  return `${a.questionText}: ${answerText}`;\n});\n\nconst scoredLines = allAnswers\n  .filter((a) => a.isScored)\n  .map((a) => {\n    const answerText = Array.isArray(a.answerText)\n      ? a.answerText.join('; ')\n      : (a.answerText || '');\n    return `${a.questionText}: ${answerText}`;\n  });\n\nconst infoLines = allAnswers\n  .filter((a) => !a.isScored)\n  .map((a) => {\n    const answerText = Array.isArray(a.answerText)\n      ? a.answerText.join('; ')\n      : (a.answerText || '');\n    return `${a.questionText}: ${answerText}`;\n  });\n\nconst payload = {\n  email: edit.email || '',\n  companyName: edit.company || '',\n  name: fullName,\n  firstName,\n  lastName,\n  job_title: edit.job_title || '',\n  mobile: edit.mobile || '',\n  submission_id: edit.submission_id || '',\n  customFields: {\n    humtech_assessment_version: 'v2',\n    humtech_assessment_source: edit.source || 'humtech-scorecard',\n    humtech_submitted_at: edit.submitted_at || '',\n\n    // Added for easier automation branching in GHL\n    humtech_first_name: firstName,\n    humtech_last_name: lastName,\n\n    humtech_overall_score: scoring.scoring?.overall?.score10 || '',\n    humtech_overall_band: scoring.scoring?.overall?.maturityBand || '',\n    humtech_lead_engagement_score: scoring.scoring?.pillars?.leadEngagementSpeed || '',\n    humtech_appointment_reliability_score: scoring.scoring?.pillars?.appointmentReliabilityConversion || '',\n    humtech_operational_focus_score: scoring.scoring?.pillars?.operationalFocusTimeEfficiency || '',\n    humtech_systems_maturity_score: scoring.scoring?.pillars?.systemsAutomationMaturity || '',\n    humtech_revenue_protection_score: scoring.scoring?.pillars?.revenueProtectionLeakageControl || '',\n\n    humtech_pipeline_estimate: waterfall.revenueWaterfall?.pipeline || '',\n    humtech_monthly_loss_estimate: waterfall.revenueWaterfall?.totalLoss || '',\n    humtech_capture_rate_percent: waterfall.revenueWaterfall?.captureRatePercent || '',\n    humtech_biggest_leak_stage: waterfall.revenueWaterfall?.biggestLeakStage || '',\n    humtech_estimated_closed_value: waterfall.revenueWaterfall?.closedValue || '',\n\n    humtech_lead_volume_tier: waterfall.qualification?.leadVolume || '',\n    humtech_deal_value_tier: waterfall.qualification?.dealValue || '',\n    humtech_estimated_gross_revenue_tier: waterfall.qualification?.estimatedGrossRevenue || '',\n    humtech_estimated_gross_margin_tier: waterfall.qualification?.estimatedGrossMargin || '',\n    humtech_recommended_lead_product: waterfall.qualification?.recommended_lead_product || '',\n\n    // Raw + full answers\n    humtech_assessment_raw_json: JSON.stringify(edit.rawAnswers || {}),\n    humtech_assessment_answers_json: JSON.stringify(allAnswers || []),\n\n    // Human-readable answer text (what they actually selected)\n    humtech_answers_readable: answerLines.join('\\n'),\n    humtech_scored_answers_readable: scoredLines.join('\\n'),\n    humtech_informative_answers_readable: infoLines.join('\\n'),\n  },\n};\n\nreturn [{ json: { ...$json, ghl_payload: payload } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,672],"id":"5c74b6e0-aa5b-4b1d-af05-8d9009f51f71","name":"prepare payload for GHL"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Question Scoring / pillar weight","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"email","type":"main","index":0}]]},"Radar chart URL":{"main":[[{"node":"Build PDF HTML","type":"main","index":0}]]},"Build PDF HTML":{"main":[[{"node":"Respond to Webhook with sub_id","type":"main","index":0},{"node":"Postgres results object","type":"main","index":0}]]},"PDFShift":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Question Scoring / pillar weight":{"main":[[{"node":"banding / qual mapping","type":"main","index":0}]]},"banding / qual mapping":{"main":[[{"node":"Revenue Waterfall / Qualification","type":"main","index":0}]]},"email":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Revenue Waterfall / Qualification":{"main":[[{"node":"Radar chart URL","type":"main","index":0}]]},"Respond to Webhook with sub_id":{"main":[[{"node":"PDFShift","type":"main","index":0},{"node":"prepare payload for GHL","type":"main","index":0}]]},"prepare payload for GHL":{"main":[[{"node":"send to GHL","type":"main","index":0}]]}},"authors":"Louise Oram-Knight","name":"version 1","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-25T09:45:54.865Z","id":189,"workflowId":"UPceXr0EYkOlRsjz","versionId":"86d06afd-6cab-4554-9c3d-c784ac79f709","event":"activated","userId":"4b591549-ae19-490f-a88d-77de6a0ef500"}]}}